<template>
    <div>
        <button type="button"
            class="block w-full px-4 py-2 leading-5 transition
                text-gray-700 text-left text-sm
                hover:bg-gray-100
                focus:bg-gray-100 focus:outline-none">
            <slot></slot>
        </button>
    </div>
</template>

<script>
</script>
