<template>
    <button :type="type"
        class="inline-flex items-center px-4 py-2
            bg-yellow-300 border border-transparent rounded-md font-semibold
            text-xs text-yellow-900 uppercase tracking-widest
            hover:bg-yellow-200 hover:border-yellow-300
            active:bg-yellow-300
            focus:outline-none focus:border-yellow-200 focus:ring focus:ring-yellow-100
            disabled:opacity-25 transition"
    >
        <slot></slot>
    </button>
</template>

<script>
    export default {
        props: {
            type: {
                type: String,
                default: 'button',
            },
        }
    }
</script>
