<template>
    <button :type="type"
        class="inline-flex items-center px-4 py-2 shadow-sm rounded-md tracking-widest transition
        text-xs text-white uppercase
        bg-green-700 hover:bg-green-600 active:bg-green-700
        border border-green-300
        focus:outline-none focus:border-green-300 focus:ring focus:ring-green-200
        disabled:opacity-25"
    >
        <slot></slot>
    </button>
</template>

<script>
    export default {
        props: {
            type: {
                type: String,
                default: 'button',
            },
        }
    }
</script>
