<template>
    <div
        class="w-6/12 flex items-center"
        v-if="!_option.isDeleted"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            class="ml-2 cursor-pointer"
            @click="_removeMenuOption()"
        >
            <path fill="none" d="M0 0h24v24H0z" />
            <path
                fill="#EC4899"
                d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z"
            />
        </svg>

        <jet-input
            type="text"
            class="mt-1 ml-1 block"
            placeholder="Teks pilihan"
            v-model="_option.title"
            @keyup="_choiceTitleChanged()" />
    </div>

    <div
        class="w-6/12"
        v-if="!_option.isDeleted"
    >
        <span class="inline-flex rounded-md mt-4 ml-4">
            <default-button
                type="button"
                class="inline-flex items-center px-3 py-2
                    bg-blue-500 hover:bg-blue-400
                    border border-transparent rounded-md
                    text-white leading-4 font-medium focus:outline-none transition"
                @click="_showChatbotMenuListDialog()"
            >
                {{ _option.action_menu }}

                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </default-button>
        </span>
    </div>
</template>

<script>
    import JetInput from '@/Jetstream/Input.vue'
    import DefaultButton from './DefaultButton.vue'

    export default {
        components: {
            JetInput,
            DefaultButton,
        },
        props: {
            type: {
                type: String,
                default: 'button',
            },
            optionKey: Number,
            option: Object,

        },
        data() {
            return {
                _optionKey: this.optionKey,
                _option: this.option,
            }
        },
        methods: {
            _removeMenuOption() {
                this.$emit('onMenuOptionRemoved', this._optionKey);
            },
            _choiceTitleChanged() {
                this.$emit('onChoiceTitleChanged', this._optionKey);
            },
            _showChatbotMenuListDialog() {
                this.$emit('onShowChatbotMenuListClicked', this._optionKey);
            },
        }
    }
</script>
