<template>
    <app-layout title="Screening">
        <!--
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Formulir Screening Sinovac
            </h2>
        </template>
        -->

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div
                        class="mx-4 mt-4 px-2 py-2 bg-blue-100 text-blue-900 border-blue-500 rounded-lg"
                        style="text-align:left; box-shadow:0 .125rem .25rem rgba(59, 130, 246, .5) !important;"
                    >
                        <p v-html="selectedLocation.address.replace('<br><br>', '<br>')"></p>
                    </div>

                    <div class="mx-4 mt-6 mb-4">
                        <form @submit.prevent="submit">
                            <div class="w-full">
                                <div class="row">
                                    <div>
                                        <jet-label for="registration-number" value="Nomor Registrasi" />
                                    </div>
                                    <div>
                                        <p class="mt-1 block w-full">
                                            {{ form.screening.registration_number}}
                                        </p>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label for="ktp-nik" value="Nomor KTP/NIK" />
                                    </div>
                                    <div>
                                        <p class="mt-1 block w-full">
                                            {{ form.screening.ktp_nik }}
                                        </p>
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label value="Nama" />
                                    </div>
                                    <div>
                                        <p class="mt-1 block w-full">
                                            {{ form.screening.full_name }}
                                        </p>
                                    </div>
                                </div>

                                <!--
                                <div class="row mt-4">
                                    <div>
                                        <jet-label value="Jenis Kelamin" />
                                    </div>
                                    <div>
                                        <p class="mt-1 block w-full">
                                            {{ form.screening.sex }}
                                        </p>
                                    </div>
                                </div>
                                -->

                                <!-- start form -->
                                <!-- age -->
                                <div class="row mt-4">
                                    <div>
                                        <jet-label for="age">
                                            Usia Peserta (Akseptor) <span class="text-xl text-red-600">*</span>
                                        </jet-label>
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.age"
                                            :disabled="isInputDisabled"
                                            @change="checkBodyTemperature"
                                            id="age"
                                            type="number"
                                            min="10"
                                            max="100"
                                            class="mt-1 block w-full"
                                            placeholder="Usia minimal 12 tahun" />
                                    </div>
                                    <jet-label
                                        v-show="isInputAgeError"
                                        for="age"
                                        value="Usia antara 10-100 tahun"
                                        class="text-red-600" />
                                </div>

                                <!-- body temperature -->
                                <div class="row mt-4">
                                    <div>
                                        <jet-label for="body-temperature">
                                            Suhu/Temperatur Badan <span class="text-xl text-red-600">*</span>
                                        </jet-label>
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.body_temperature"
                                            :disabled="isInputDisabled"
                                            @change="checkBodyTemperature"
                                            id="body-temperature"
                                            type="number"
                                            min="30"
                                            max="40"
                                            class="mt-1 block w-full"
                                            placeholder="Suhu minimal 34 derajat celcius" />
                                    </div>
                                    <jet-label
                                        v-show="isInputBodyTemperatureError"
                                        for="blood-temperature"
                                        value="Suhu badan antara 30-30 derajat selsius."
                                        class="text-red-600" />
                                    
                                </div>

                                <!-- blood pressure 1 -->
                                <div class="row mt-4">
                                    <div>
                                        <jet-label for="blood-pressure-1">
                                            Tekanan Darah (Angka Atas / Angka Bawah)
                                            <span class="text-xl text-red-600">*</span>
                                        </jet-label>
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.blood_pressure_1"
                                            :disabled="isInputDisabled"
                                            id="blood-pressure-1"
                                            type="text"
                                            minlength="0"
                                            maxlength="8"
                                            class="mt-1 block w-full"
                                            placeholder="Contoh: 120/80" />
                                    </div>
                                    <jet-label
                                        v-show="isInputBloodPressureError"
                                        for="blood-pressure-1"
                                        value="Isian salah"
                                        class="text-red-600" />
                                </div>

                                <!--
                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            for="blood-pressure-2"
                                            value="Tekanan Darah (Angka Bawah / Diastolik)" />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.blood_pressure_2"
                                            :disabled="isInputDisabled"
                                            id="blood-pressure-2"
                                            type="number"
                                            min="0"
                                            max="300"
                                            class="mt-1 block w-full" />
                                    </div>
                                </div>
                                -->

                                <!-- start radio inputs -->
                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda pernah terkonfirmasi menderita COVID-19?"
                                            />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.confirmed_has_covid"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="confirmed-has-covid-yes"
                                            name="confirmed-has-covid"
                                            type="radio" />
                                        <jet-label
                                            for="confirmed-has-covid-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.confirmed_has_covid"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="confirmed-has-covid-no"
                                            name="confirmed-has-covid"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="confirmed-has-covid-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda sedang hamil atau menyusui?"
                                            />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.is_pregnancy_maternity"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="is-pregnancy-maternity-yes"
                                            name="is-pregnancy-maternity"
                                            type="radio" />
                                        <jet-label
                                            for="is-pregnancy-maternity-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.is_pregnancy_maternity"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="is-pregnancy-maternity-no"
                                            name="is-pregnancy-maternity"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="is-pregnancy-maternity-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda mengalami gejala ISPA seperti batuk/pilek/sesak napas dalam 7 hari terakhir?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_ispa"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-ispa-yes"
                                            name="has-ispa"
                                            type="radio" />
                                        <jet-label
                                            for="has-ispa-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_ispa"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-ispa-no"
                                            name="has-ispa"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-ispa-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah ada anggota keluarga serumah yang kontak erat/suspek/konfirmasi/sedang dalam perawatan karena penyakit COVID-19?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.home_with_suspect"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="home-with-suspect-yes"
                                            name="home-with-suspect"
                                            type="radio" />
                                        <jet-label
                                            for="home-with-suspect-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.home_with_suspect"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="home-with-suspect-no"
                                            name="home-with-suspect"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="home-with-suspect-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda memiliki riwayat alergi berat atau mengalami gejala sesak napas, bengkak dan kemerahan setelah divaksinasi COVID-19 sebelumnya? (pertanyaan untuk vaksinasi ke-2)"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_heavy_alergic"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-heavy-alergic-yes"
                                            name="has-heavy-alergic"
                                            type="radio" />
                                        <jet-label
                                            for="has-heavy-alergic-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_heavy_alergic"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-heavy-alergic-no"
                                            name="has-heavy-alergic"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-heavy-alergic-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda sedang mendapatkan terapi aktif jangka panjang terhadap penyakit kelainan darah?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.in_blood_theurapy"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="in-blood-theurapy-yes"
                                            name="in-blood-theurapy"
                                            type="radio" />
                                        <jet-label
                                            for="in-blood-theurapy-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.in_blood_theurapy"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="in-blood-theurapy-no"
                                            name="in-blood-theurapy"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="in-blood-theurapy-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda menderita penyakit jantung (gagal jantung/penyakit jantung coroner)?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_heart_disease"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-heart-disease-yes"
                                            name="has-heart-disease"
                                            type="radio" />
                                        <jet-label
                                            v-model="has_heart_disease"
                                            for="has-heart-disease-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_heart_disease"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-heart-disease-no"
                                            name="has-heart-disease"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-heart-disease-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda menderita penyakit Autoimun Sistemik (SLE/Lupus, Sjogren, vaskulitis, dan autoimun lainnya)?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_autoimun_sistemik"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-autoimun-sistemik-yes"
                                            name="has-autoimun-sistemik"
                                            type="radio" />
                                        <jet-label
                                            for="has-autoimun-sistemik-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_autoimun_sistemik"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-autoimun-sistemik-no"
                                            name="has-autoimun-sistemik"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-autoimun-sistemik-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda menderita penyakit ginjal? (penyakit ginjal kronis/sedang menjalani hemodialysis/dialysis peritoneal/transplantasi ginjal/sindroma nefrotik dengan kortikosteroid)?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_kidney_disease"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-kidney-disease-yes"
                                            name="has-kidney-disease"
                                            type="radio" />
                                        <jet-label
                                            for="has-kidney-disease-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_kidney_disease"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-kidney-disease-no"
                                            name="has-kidney-disease"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-kidney-disease-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda menderita penyakit Reumatik Autoimun/Rhematoid Arthritis?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_reumatik_autoimun"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-reumatik-autoimun-yes"
                                            name="has-reumatik-autoimun"
                                            type="radio" />
                                        <jet-label
                                            for="has-reumatik-autoimun-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_reumatik_autoimun"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-reumatik-autoimun-no"
                                            name="has-reumatik-autoimun"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-reumatik-autoimun-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda menderita penyakit saluran pencernaan kronis?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_chronical_digestive"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-chronical-digestive-yes"
                                            name="has-chronical-digestive"
                                            type="radio" />
                                        <jet-label
                                            for="has-chronical-digestive-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_chronical_digestive"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-chronical-digestive-no"
                                            name="has-chronical-digestive"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-chronical-digestive-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda menderita penyakit Hipertiroid/hipotiroid karena autoimun?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_hipertiroid_caused_by_autoimun"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-hipertiroid-caused-by-autoimun-yes"
                                            name="has-hipertiroid-caused-by-autoimun"
                                            type="radio" />
                                        <jet-label
                                            for="has-hipertiroid-caused-by-autoimun-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_hipertiroid_caused_by_autoimun"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-hipertiroid-caused-by-autoimun-no"
                                            name="has-hipertiroid-caused-by-autoimun"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-hipertiroid-caused-by-autoimun-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda menderita penyakit kanker, kelainan darah, imunokompromais/defisiensi imun, dan penerima produk darah/transfusi?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.is_blood_transfusion"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="is-blood-transfusion-yes"
                                            name="is-blood-transfusion"
                                            type="radio" />
                                        <jet-label
                                            for="is-blood-transfusion-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.is_blood_transfusion"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="is-blood-transfusion-no"
                                            name="is-blood-transfusion"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="is-blood-transfusion-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <!-- has-diabetes-melitus -->
                                <div class="row mt-4">
                                    <div>
                                        <jet-label
                                            value="Apakah Anda menderita penyakit Diabetes Melitus?"
                                        />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_diabetes_melitus"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-diabetes-melitus-yes"
                                            name="has-diabetes-melitus"
                                            type="radio" />
                                        <jet-label
                                            for="has-diabetes-melitus-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_diabetes_melitus"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-diabetes-melitus-no"
                                            name="has-diabetes-melitus"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-diabetes-melitus-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <!-- has-hiv -->
                                <div class="row mt-4">
                                    <div>
                                        <jet-label value="Apakah Anda menderita HIV?" />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_hiv"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-hiv-yes"
                                            name="has-hiv"
                                            type="radio" />
                                        <jet-label
                                            for="has-hiv-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_hiv"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-hiv-no"
                                            name="has-hiv"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-hiv-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <!-- has-ppok-tbc -->
                                <div class="row mt-4">
                                    <div>
                                        <jet-label value="Apakah Anda memiliki penyakit paru (asma, PPOK, TBC)?" />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.has_ppok_tbc"
                                            :disabled="isInputDisabled"
                                            value="yes"
                                            id="has-ppok-tbc-yes"
                                            name="has-ppok-tbc"
                                            type="radio" />
                                        <jet-label
                                            for="has-ppok-tbc-yes"
                                            value="Ya"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            v-model="form.screening.has_ppok_tbc"
                                            :checked="true"
                                            :disabled="isInputDisabled"
                                            value="no"
                                            id="has-ppok-tbc-no"
                                            name="has-ppok-tbc"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="has-ppok-tbc-no"
                                            value="Tidak"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>

                                <!-- conclusion -->
                                <div class="row mt-4">
                                    <div>
                                        <jet-label>Kesimpulan <span class="text-xl text-red-600">*</span></jet-label>
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.conclusion"
                                            :disabled="isInputDisabled || isCanHaveVaccineDisabled"
                                            :checked="form.screening.conclusion == 1"
                                            value="1"
                                            id="can-have-vaccine"
                                            name="conclusion"
                                            type="radio" />
                                        <jet-label
                                            :class="{ 'text-gray-400':isCanHaveVaccineDisabled }"
                                            for="can-have-vaccine"
                                            value="Dapat diberikan vaksinasi"
                                            class="ml-2 inline-block" />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.conclusion"
                                            :disabled="isInputDisabled"
                                            :checked="form.screening.conclusion == 2"
                                            value="2"
                                            id="vaccine-delayed"
                                            name="conclusion"
                                            type="radio" />
                                        <jet-label
                                            for="vaccine-delayed"
                                            value="Vaksin ditunda"
                                            class="ml-2 inline-block" />
                                    </div>
                                    <div>
                                        <jet-input
                                            v-model="form.screening.conclusion"
                                            :disabled="isInputDisabled"
                                            :checked="form.screening.conclusion == 3"
                                            value="3"
                                            id="no-vaccine"
                                            name="conclusion"
                                            type="radio" />
                                        <jet-label
                                            for="no-vaccine"
                                            value="Tidak diberikan vaksin"
                                            class="ml-2 inline-block" />
                                    </div>
                                </div>

                                <!-- notes -->
                                <div class="row mt-4">
                                    <div>
                                        <jet-label value="Catatan" />
                                    </div>
                                    <div>
                                        <text-area
                                            v-model="form.screening.notes"
                                            id="notes"
                                            class="mt-1 block w-full" 
                                            rows="4"
                                            placeholder="Catatan keputusan screening" />
                                    </div>
                                </div>

                            </div>
                        </form>

                        <jet-secondary-button
                            :disabled="isInputDisabled"
                            @click="closeDialog"
                        >
                            Tutup
                        </jet-secondary-button>

                        <info-button
                            :disabled="isInputDisabled"
                            @click="submitScreening"
                            class="mt-4 ml-2"
                        >
                            Simpan
                        </info-button>
                    </div>

                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import DefaultButton from '@/MyComponents/DefaultButton.vue'
    import InfoButton from '@/MyComponents/InfoButton.vue'
    import TextArea from '@/MyComponents/TextArea.vue'

    export default {
        components: {
            AppLayout,
            JetSecondaryButton,
            JetInput,
            JetLabel,
            DefaultButton,
            InfoButton,
            TextArea,
        },
        props: {
            screening: Object,
            selLocation: Object,
        },
        data() {
            return {
                isCanHaveVaccineDisabled: true,
                isInputDisabled: false,
                selectedLocation: this.selLocation,
                form: this.$inertia.form({
                    screening: this.screening,
                }),
            }
        },
        methods: {
            closeDialog() {
                history.go(-1);
            },
            checkBodyTemperature() {
                if (
                    isNaN(this.form.screening.body_temperature) || (this.form.screening.body_temperature < 34) || (this.form.screening.body_temperature >= 37)
                    || isNaN(this.form.screening.age) || (this.form.screening.age < 12) || (this.form.screening.age >= 100)
                ) {
                    this.isCanHaveVaccineDisabled = true;
                    this.form.screening.conclusion = 0;
                }
                else {
                    this.isCanHaveVaccineDisabled = false;
                }
            },
            submitScreening() {
                this.checkBodyTemperature();

                if (
                    (this.form.screening.conclusion == 1)
                    || (this.form.screening.conclusion == 2)
                    || (this.form.screening.conclusion == 3)
                ) {
                    this._setInputsDisabled(true);
                    this.form.screening.location = this.selectedLocation.uuid;
                    this.form.post(this.route('store-screening'), {
                        onFinish: () => this._onSubmitScreeningFinished(),
                    });
                }
                else {
                    if (this.isCanHaveVaccineDisabled) {
                        alert('Usia Peserta atau Suhu/Temperatur Badan kurang atau lebih dari batas persyaratan. Vaksinasi harus ditunda ataupun dibatalkan.');
                    }
                    else {
                        alert('Pilih salah satu kesimpulan terlebih dahulu');
                    }
                }
            },
            _onSubmitScreeningFinished() {
                var processResult = this.$page.props.flash.message;
                // this.form.screening = {};
                // this.form.selectedScreening = {};
                // this.showFinishDialog();

                if (processResult.result === 200) {
                }
                else {
                    this._setInputsDisabled(false);
                }
                alert(processResult.text);
            },
            _setInputsDisabled(isDisabled) {
                this.isInputDisabled = isDisabled;
            },
        },
    }
</script>
