<template>
    <app-layout title="Screening">
        <!--
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Formulir Peserta Vaksinasi (Akseptor)
            </h2>
        </template>
        -->

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div
                        class="mx-4 mt-4 px-2 py-2 bg-blue-100 text-blue-900 border-blue-500 rounded-lg"
                        style="text-align:left; box-shadow:0 .125rem .25rem rgba(59, 130, 246, .5) !important;"
                    >
                        <p v-html="selectedLocation.address.replace('<br><br>', '<br>')"></p>
                    </div>

                    <div class="mx-4 mt-6 mb-4">
                        <form @submit.prevent="submit">
                            <div class="w-full">
                                <!-- lokasi -->
                                <!--
                                <div class="row">
                                    <div>
                                        <jet-label for="location" value="Lokasi Vaksinasi" />
                                    </div>
                                    <div>
                                        <p
                                            v-html="selectedLocation.lokasi"
                                            class="mt-1 block w-full">
                                        </p>
                                    </div>
                                </div>
                                -->

                                <!-- reg number -->
                                <div
                                    v-show="!isNewData"
                                    class="row mt-4"
                                >
                                    <div>
                                        <jet-label for="registration-number" value="Nomor Registrasi" />
                                    </div>
                                    <div>
                                        <p class="mt-1 block w-full">
                                            {{ form.registrant.registration_number}}
                                        </p>
                                    </div>
                                </div>

                                <!-- ktp/nik -->
                                <div class="row mt-4">
                                    <jet-label for="ktp_nik">
                                        Nomor Identitas / Pengenal
                                        (NIK/KTP/KK/KITAS/KITAP/KARTU PELAJAR/MAHASISWA)
                                        <span class="text-xl text-red-500">*</span>
                                    </jet-label>

                                    <div
                                        v-if="!isNewData"
                                        class="mt-1 block w-full"
                                    >
                                        {{ form.registrant.ktp_nik }}
                                    </div>

                                    <div v-else-if="isNewData">
                                        <jet-input
                                            v-model="form.registrant.ktp_nik"
                                            :class="{
                                                'border-red-600': _isInputNikError,
                                                'bg-gray-200': _isInputDisabled,
                                            }"
                                            :disabled="isInputDisabled"
                                            id="ktp_nik"
                                            type="text"
                                            class="mt-1 block w-full border"
                                            placeholder="Min. 10 huruf/angka" />
                                        <jet-label
                                            class="text-xs mt-1"
                                            value="Ketikkan 'TIDAK ADA' apabila tidak punya tanda pengenal." />
                                        <jet-label
                                            v-show="_isInputNikError"
                                            for="ktp_nik"
                                            value="Isian tidak boleh kosong."
                                            class="text-red-600" />
                                    </div>
                                </div>

                                <!-- fullname -->
                                <div class="row mt-4">
                                    <jet-label for="registrant">
                                        Nama Lengkap <span class="text-xl text-red-500">*</span>
                                    </jet-label>
                                    <jet-input
                                        v-model="form.registrant.full_name"
                                        :class="{
                                            'border-red-600': _isInputNameError,
                                            'bg-gray-200': _isInputDisabled,
                                        }"
                                        :disabled="isInputDisabled"
                                        id="registrant"
                                        type="text"
                                        minlength="4"
                                        maxlength="30"
                                        class="mt-1 block w-full"
                                        placeholder="Min. 4 huruf" />
                                    <jet-label
                                        v-show="_isInputNameError"
                                        for="registrant"
                                        value="Nama harus lebih dari 4 huruf."
                                        class="text-red-600" />
                                </div>

                                <!-- handphone -->
                                <div class="row mt-4">
                                    <jet-label for="handphone" value="Handphone" />
                                    <jet-input
                                        v-model="form.registrant.handphone"
                                        :class="{
                                            'border-red-600': _isInputPhoneError,
                                            'bg-gray-200': isInputDisabled,
                                        }"
                                        :disabled="isInputDisabled"
                                        id="handphone"
                                        type="number"
                                        min="0"
                                        max="999999999999999"
                                        class="mt-1 block w-full"
                                        placeholder="10-15 angka" />
                                    <jet-label
                                        v-show="_isInputPhoneError"
                                        for="handphone"
                                        value="Handphone berisi 10 sampai 15 angka."
                                        class="text-red-600" />
                                </div>

                                <!-- sex -->
                                <!--
                                <div class="row mt-4">
                                    <div>
                                        <jet-label for="sex" value="Jenis Kelamin" />
                                    </div>
                                    <div>
                                        <jet-input
                                            :checked="form.registrant.sex === 'm'"
                                            :disabled="isInputDisabledd"
                                            @change="setRegistrantSex('m')"
                                            value="m"
                                            id="sex_male"
                                            name="sex"
                                            type="radio" />
                                        <jet-label
                                            for="sex_male"
                                            value="Pria"
                                            class="ml-2"
                                            style="display:inline-block;" />

                                        <jet-input
                                            :checked="form.registrant.sex === 'f'"
                                            :disabled="isInputDisabledd"
                                            @change="setRegistrantSex('f')"
                                            value="f"
                                            id="sex_female"
                                            name="sex"
                                            type="radio"
                                            class="ml-4" />
                                        <jet-label
                                            for="sex_female"
                                            value="Wanita"
                                            class="ml-2"
                                            style="display:inline-block;"  />
                                    </div>
                                </div>
                                -->

                                <!-- birth date -->
                                <div class="row mt-4">
                                    <jet-label for="date_of_birth" value="Tanggal Lahir" />
                                    <jet-input
                                        v-model="form.registrant.date_of_birth"
                                        :disabled="isInputDisabled"
                                        id="date_of_birth"
                                        type="date"
                                        class="mt-1 block w-full" />
                                </div>

                                <!-- address -->
                                <div class="row mt-4">
                                    <jet-label for="address" value="Alamat" />
                                    <jet-input
                                        v-model="form.registrant.address"
                                        :disabled="isInputDisabled"
                                        :class="{
                                            'border-red-600': _isInputAddressError,
                                            'bg-gray-200': isInputDisabled,
                                        }"
                                        id="address"
                                        type="text"
                                        minlength="10"
                                        maxlength="50"
                                        class="mt-1 block w-full"
                                        placeholder="Min. 10 huruf" />
                                    <jet-label
                                        v-show="_isInputAddressError"
                                        for="address"
                                        value="Isian harus lebih dari 10 huruf."
                                        class="text-red-600" />
                                </div>

                                <!-- kelurahan -->
                                <div class="row mt-4">
                                    <jet-label for="kelurahan" value="Kelurahan" />
                                    <jet-input
                                        v-model="form.registrant.kelurahan"
                                        :disabled="isInputDisabled"
                                        :class="{
                                            'border-red-600': _isInputKelurahanError,
                                            'bg-gray-200': isInputDisabled,
                                        }"
                                        id="kelurahan"
                                        type="text"
                                        maxlength="30"
                                        class="mt-1 block w-full"
                                        placeholder="Min. 4 huruf" />
                                    <jet-label
                                        v-show="_isInputKelurahanError"
                                        for="kelurahan"
                                        value="Isian salah."
                                        class="text-red-600" />
                                </div>

                                <!-- kecamatan -->
                                <div class="row mt-4">
                                    <jet-label for="kecamatan" value="Kecamatan" />
                                    <jet-input
                                        v-model="form.registrant.kecamatan"
                                        :class="{
                                            'border-red-600': _isInputKecamatanError,
                                            'bg-gray-200': isInputDisabled,
                                        }"
                                        :disabled="isInputDisabled"
                                        id="kecamatan"
                                        type="text"
                                        maxlength="30"
                                        class="mt-1 block w-full"
                                        placeholder="Min. 4 huruf" />
                                    <jet-label
                                        v-show="_isInputKecamatanError"
                                        for="kecamatan"
                                        value="Isian salah."
                                        class="text-red-600" />
                                </div>

                                <!-- kab/kota -->
                                <div class="row mt-4">
                                    <jet-label for="kabupaten" value="Kabupaten/Kota" />
                                    <jet-input
                                        v-model="form.registrant.kab_kota"
                                        :class="{
                                            'border-red-600': _isInputKabkotaError,
                                            'bg-gray-200': isInputDisabled,
                                        }"
                                        :disabled="isInputDisabled"
                                        id="kabupaten"
                                        type="text"
                                        maxlength="30"
                                        class="mt-1 block w-full"
                                        placeholder="Min. 4 huruf" />
                                    <jet-label
                                        v-show="_isInputKabkotaError"
                                        for="kabupaten"
                                        value="Isian salah."
                                        class="text-red-600" />
                                </div>

                                <!-- provinsi -->
                                <div class="row mt-4">
                                    <jet-label for="province" value="Provinsi" />
                                    <jet-input
                                        v-model="form.registrant.province"
                                        :class="{
                                            'border-red-600': _isInputProvinsiError,
                                            'bg-gray-200': isInputDisabled,
                                        }"
                                        :disabled="isInputDisabled"
                                        id="province"
                                        type="text"
                                        maxlength="30"
                                        class="mt-1 block w-full"
                                        placeholder="Min. 4 huruf" />
                                    <jet-label
                                        v-show="_isInputProvinsiError"
                                        for="province"
                                        value="Isian salah."
                                        class="text-red-600" />
                                </div>
                            </div>
                        </form>

                        <jet-secondary-button
                            :disabled="isInputDisabled"
                            @click="closeDialog"
                        >
                            Tutup
                        </jet-secondary-button>

                        <info-button
                            :disabled="isInputDisabled"
                            @click="submitRegistrant"
                            class="mt-4 ml-2"
                        >
                            Simpan
                        </info-button>
                    </div>

                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import DefaultButton from '@/MyComponents/DefaultButton.vue'
    import InfoButton from '@/MyComponents/InfoButton.vue'
    import TextArea from '@/MyComponents/TextArea.vue'

    export default {
        components: {
            AppLayout,
            JetSecondaryButton,
            JetInput,
            JetLabel,
            DefaultButton,
            InfoButton,
            TextArea,
        },
        props: {
            registrant: Object,
            selLocation: Object,
            isNewData: Boolean,
        },
        data() {
            return {
                isNewData: this.isNewData,
                isCanHaveVaccineDisabled: true,
                isInputDisabled: false,
                selectedLocation: this.selLocation,
                form: this.$inertia.form({
                    registrant: this.registrant,
                }),

                _numOfErrors: 0,
                _isInputNameError: false,
                _isInputPhoneError: false,
                _isInputNikError: false,
                _isInputLocationError: false,
                _isInputBirthDateError: false,
                _isInputAddressError: false,
                _isInputKelurahanError: false,
                _isInputKecamatanError: false,
                _isInputKabkotaError: false,
                _isInputProvinsiError: false,
                _isInputFileError: false,
            }
        },
        methods: {
            closeDialog() {
                history.go(-1);
            },
            submitRegistrant() {
                if (!this._inputHasErrors()) {
                    // this._setInputsDisabled(true);
                    this.form.registrant.location = this.selectedLocation.uuid;
                    console.log(this.form.registrant);
                    this.form
                        .post(this.route('store-registrant'), {
                            onFinish: () => this._onSubmitRegistrantFinish(),
                        });
                }
                else {
                    alert('Ada kesalahan input. Silahkan periksa kembali isian Anda.');
                }
            },
            _onSubmitRegistrantFinish() {
                var processResult = this.$page.props.flash.message;
                if (processResult.result === 200) {
                    this.form.registrant = Object;
                    this.selectedKey = -1;
                }
                else {
                    this._setInputsDisabled(false);
                }
                alert(processResult.text);
            },
            _inputHasErrors() {
                this._resetRegistrantChecks();

                if ((this.form.registrant.ktp_nik == undefined) || (this.form.registrant.ktp_nik.length < 9)
                ) {
                    this._isInputNikError = true;
                    this._numOfErrors++;
                }

                if ((this.form.registrant.full_name == undefined) || (this.form.registrant.full_name.length < 4)) {
                    this._isInputNameError = true;
                    this._numOfErrors++;
                }

                if (
                    (this.form.registrant.handphone != undefined)
                    && isNaN(this.form.registrant.handphone)
                    && (this.form.registrant.handphone.length < 10)
                    && (this.form.registrant.handphone.length > 15)
                ) {
                    this._isInputPhoneError = true;
                    this._numOfErrors++;
                }

                if (
                    (this.form.registrant.birthDate != undefined)
                    && (this.form.registrant.birthDate.trim().length > 0)
                    && (this.form.registrant.birthDate.trim().length < 10)
                ) {
                    this._isInputBirthDateError = true;
                    this._numOfErrors++;
                }

                if (
                    (this.form.registrant.address != undefined)
                    && (this.form.registrant.address.trim().length > 0)
                    && (this.form.registrant.address.trim().length < 10)
                ) {
                    this._isInputAddressError = true;
                    this._numOfErrors++;
                }

                if (
                    (this.form.registrant.kelurahan != undefined)
                    && (this.form.registrant.kelurahan.trim().length > 0)
                    && (this.form.registrant.kelurahan.trim().length < 4)
                ) {
                    this._isInputKelurahanError = true;
                    this._numOfErrors++;
                }

                if (
                    (this.form.registrant.kecamatan != undefined)
                    && (this.form.registrant.kecamatan.trim().length > 0)
                    && (this.form.registrant.kecamatan.trim().length < 4)
                ) {
                    this._isInputKecamatanError = true;
                    this._numOfErrors++;
                }

                if (
                    (this.form.registrant.kab_kota != undefined)
                    && (this.form.registrant.kab_kota.trim().length > 0)
                    && (this.form.registrant.kab_kota.trim().length < 4)
                ) {
                    this._isInputKabkotaError = true;
                    this._numOfErrors++;
                }

                if (
                    (this.form.registrant.province != undefined)
                    && (this.form.registrant.province.trim().length > 0)
                    && (this.form.registrant.province.trim().length < 4)
                ) {
                    this._isInputProvinsiError = true;
                    this._numOfErrors++;
                }

                return (this._numOfErrors > 0) ? true : false;
            },
            _resetRegistrantChecks() {
                this._numOfErrors = 0;
                this._isInputNameError = false;
                this._isInputPhoneError = false;
                this._isInputNikError = false;
                this._isInputLocationError = false;
                this._isInputBirthDateError = false;
                this._isInputAddressError = false;
                this._isInputKelurahanError = false;
                this._isInputKecamatanError = false;
                this._isInputKabkotaError = false;
                this._isInputProvinsiError = false;
                this._isInputFileError = false;
            },
            _setInputsDisabled(isDisabled) {
                this.isInputDisabled = isDisabled;
            },
        },
    }
</script>
