<template>
    <app-layout title="Pemeriksaan Akhir">
        <!--
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>
        -->

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <!-- location info panel -->
                    <div v-if="_locationList.length > 1">
                        <default-button
                            :type="button"
                            @click="showLocationDialog"
                            class="mx-4 mt-4"
                            style="text-align:left; box-shadow:0 .125rem .25rem rgba(59, 130, 246, .5) !important;"
                        >
                            <span v-html="selectedLocation.address"></span>
                            <svg class="ml-4 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </default-button>
                    </div>
                    <div
                        v-else-if="_locationList.length === 1"
                        class="mx-4 mt-4 px-3 py-2 bg-blue-100 text-blue-900 border-blue-500 rounded-lg"
                        style="text-align:left; box-shadow:0 .125rem .25rem rgba(59, 130, 246, .5) !important;"
                    >
                        <span v-html="selectedLocation.address.replace('<br><br>', '<br>')"></span>
                    </div>

                    <!-- search panel -->
                    <!--
                    <div class="mx-4 mt-4">
                        <jet-input
                            v-model="searchName"
                            :disabled="isInputDisabled"
                            id="search"
                            type="text"
                            class="inline-block"
                            placeholder="Min. 3 huruf atau kosong" />
                        <default-button
                            :disabled="isInputDisabled"
                            @click="submitSearch"
                            type="button"
                            class="ml-2 inline-block"
                        >
                            Cari Nama
                        </default-button>
                        <p class="ml-2 px-4 py-2 text-white bg-green-700 rounded-lg inline-block">
                            Data ditampilkan: {{ _totalSearchRow }} dari {{ _totalData }}
                        </p>
                    </div>
                    -->

                    <div class="mx-4 my-4">
                        <table class="table table-striped table-hover" id="last-checks-datatable">
                            <thead>
                                <tr>
                                    <th class="w-2/12 py-3 border-t border-b text-left">No. Identitas</th>
                                    <th class="w-2/12 py-3 border-t border-b text-left">No. Registrasi</th>
                                    <th class="w-2/12 py-3 border-t border-b text-left">Nama</th>
                                    <th class="w-2/12 py-3 border-t border-b text-left">Handphone</th>
                                    <th class="w-2/12 py-3 border-t border-b text-left">Screening</th>
                                    <th class="w-2/12 py-3 border-t border-b text-left">Last Check</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </app-layout>

    <jet-modal-dialog :show="isLocationDialogShown">
        <template #title>
            Pilih Lokasi Vaksinasi
        </template>

        <template #content>
            <div class="grid grid-cols-1">
                <default-button
                    v-for="(location, key) in _locationList" :key="key"
                    v-html="location.address"
                    :disabled="isInputDisabled"
                    type="button"
                    class="mt-1"
                    @click="setSelectedLocation(location)"
                    style="text-align:left;"
                >
                </default-button>
            </div>
        </template>

        <template #footer>
            <jet-secondary-button
                :disabled="isInputDisabled"
                @click="closeDialog"
                class="ml-4"
            >
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>

    <jet-modal-dialog :show="isFinishDialogShown">
        <template #title>
            Proses Vaksinasi Selesai
        </template>

        <template #content>
            <p>Proses pemeriksaan akhir sudah selesai.</p>
            <p>Terima kasih telah melakukan vaksinasi Covid-19 bersama kami.</p>
        </template>

        <template #footer>
            <jet-secondary-button
                :disabled="isInputDisabled"
                @click="closeDialog"
                class="ml-4"
            >
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetModalDialog from '@/Jetstream/DialogModal.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import DefaultButton from '@/MyComponents/DefaultButton.vue'
    import InfoButton from '@/MyComponents/InfoButton.vue'
    import TextArea from '@/MyComponents/TextArea.vue'

    import 'bootstrap/dist/css/bootstrap.min.css'
    import 'jquery/dist/jquery.min.js'
    import "datatables.net/js/jquery.dataTables.min"
    import "datatables.net-dt/js/dataTables.dataTables.min"
    import "datatables.net-dt/css/jquery.dataTables.min.css"
    import $ from 'jquery';

    export default {
        components: {
            AppLayout,
            JetModalDialog,
            JetSecondaryButton,
            JetInput,
            JetLabel,
            DefaultButton,
            InfoButton,
            TextArea,
        },
        props: {
            locations: Array,
            selLocation: Object,
            totalData: Number,
        },
        data() {
            return {
                _locationList: this.locations,
                isLocationDialogShown: false,
                isFinishDialogShown: false,
                isInputDisabled: false,
                selectedKey: 0,
                selectedLocation: this.selLocation,
                _totalData: this.totalData,

                selectedLastCheck: {},
                form: this.$inertia.form({
                    lastcheck: {},
                }),
            }
        },
        methods: {
            setSelectedLocation(location) {
                this.selectedLocation = location;
                this.getLastCheckList();
            },
            showLocationDialog() {
                this.isLocationDialogShown = true;
            },
            showFinishDialog() {
                this.isFinishDialogShown = true;
            },
            closeDialog() {
                this.isLocationDialogShown = false;
                this.isCreateEditModalShown = false;
                this.isFinishDialogShown = false;
            },
        },
        mounted() {
            $('#last-checks-datatable').DataTable({
                'ajax': {
                    'url': route('vaccine-get-last-checks'),
                    'type': 'POST',
                    'data': {
                        'location': this.selectedLocation.uuid,
                    },
                },
                'processing': true,
                'serverSide': true,
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "columns": [
                    { "data": "ktp_nik" },
                    { "data": "registration_number" },
                    { "data": "full_name" },
                    { "data": "handphone" },
                    { "data": "screening_decision" },
                    {
                        "data": "last_check",
                        'name': 'last_check',
                    },
                ],
            });
        },

    }
</script>
