<template>
    <div>
        <Head title="Pendaftaran CSR Vaksinasi Covid-19" />

        <div class="w-full min-h-screen p-8 bg-gray-100">

            <jet-authentication-card-logo />

            <form @submit.prevent="submit">
                <div class="flex inline-flex w-full">
                    <div class="w-4/12 sm:max-w-md mt-6 mr-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
                        <!-- company info -->
                        <jet-section-title class="bg-blue-500 px-4 py-3" :isTitleWhite="true">
                            <template #title>Informasi Perusahaan</template>
                            <template #description>Masukan informasi mengenai perusahaan Anda.</template>
                            <template #aside></template>
                        </jet-section-title>

                        <!-- name -->
                        <div class="mt-4 mx-6">
                            <jet-label for="company_name" value="Nama perusahaan*" />
                            <jet-input
                                v-model="form.company_name"
                                :class="{ 'border-red-600': _isInputCompanyNameError }"
                                id="company_name"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputCompanyNameError"
                                for="company_province"
                                value="Isian tidak boleh kosong."
                                class="text-red-600" />
                        </div>

                        <!-- kab_kota -->
                        <div class="mt-4 mx-6">
                            <jet-label for="company_kabkota" value="Kabupaten/Kota*" />
                            <jet-input
                                v-model="form.company_kabkota"
                                :class="{ 'border-red-600': _isInputCompanyKabkotaError }"
                                id="company_kabkota"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputCompanyKabkotaError"
                                for="company_kabkota"
                                value="Isian tidak boleh kosong."
                                class="text-red-600" />
                        </div>

                        <!-- province -->
                        <div class="mt-4 mx-6">
                            <jet-label for="company_province" value="Provinsi*" />
                            <jet-input
                                v-model="form.company_province"
                                :class="{ 'border-red-600': _isInputCompanyProvinceError }"
                                id="company_province"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputCompanyProvinceError"
                                for="company_province"
                                value="Isian tidak boleh kosong."
                                class="text-red-600" />
                        </div>

                        <!-- phone -->
                        <div class="mt-4 mx-6">
                            <jet-label for="company_phone" value="Telepon perusahaan*" />
                            <jet-input
                                v-model="form.company_phone"
                                :class="{ 'border-red-600': _isInputCompanyPhoneError }"
                                id="company_phone"
                                type="number"
                                placeholder="02134567890, 081234567890"
                                class="mt-1 block w-full" />
                            <jet-label
                                v-show="_isInputCompanyPhoneError"
                                for="company_phone"
                                value="Nomor telepon berisi 10 sampai 14 angka."
                                class="text-red-600" />
                        </div>

                        <!-- email -->
                        <div class="mt-4 mx-6">
                            <jet-label for="company_email" value="Email perusahaan" />
                            <jet-input
                                v-model="form.company_email"
                                :class="{ 'border-red-600': _isInputCompanyEmailError }"
                                id="company_email"
                                type="email"
                                class="mt-1 block w-full"
                                placeholder="email@perusahaan.com" />
                            <jet-label
                                v-show="_isInputCompanyEmailError"
                                for="company_email"
                                value="Penulisan email salah."
                                class="text-red-600" />
                        </div>

                        <!-- contact pic -->
                        <div class="mt-4 mx-6">
                            <jet-label for="company_pic" value="Nama kontak/perwakilan perusahaan" />
                            <jet-input
                                v-model="form.company_pic"
                                :class="{ 'border-red-600': _isInputCompanyPicError }"
                                id="company_pic"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputCompanyEmailError"
                                for="company_email"
                                value="Penulisan nama salah."
                                class="text-red-600" />
                        </div>
                    </div>

                    <div class="w-4/12 sm:max-w-md mt-6 ml-4 mr-4 pb-6 bg-white shadow-md overflow-hidden sm:rounded-lg">
                        <!-- location datetime -->
                        <jet-section-title class="bg-blue-500 px-4 py-3"  :isTitleWhite="true">
                            <template #title>Lokasi dan Waktu Vaksinasi</template>
                            <template #description>Lokasi dan waktu vaksinasi yang diinginkan.</template>
                            <template #aside></template>
                        </jet-section-title>

                        <!-- place -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                for="place"
                                value="Tempat*" />
                            <jet-input
                                v-model="form.place"
                                :class="{ 'border-red-600': _isInputPlaceError }"
                                id="place"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputPlaceError"
                                for="place"
                                value="Isian harus lebih dari 5 huruf."
                                class="text-red-600" />
                        </div>

                        <!-- address -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                for="address"
                                value="Alamat*" />
                            <jet-input
                                v-model="form.address"
                                :class="{ 'border-red-600': _isInputAddressError }"
                                id="address"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputAddressError"
                                for="address"
                                value="Isian harus lebih dari 5 huruf."
                                class="text-red-600" />
                        </div>

                        <!-- kelurahan -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                for="kelurahan"
                                value="Kelurahan*" />
                            <jet-input
                                v-model="form.kelurahan"
                                :class="{ 'border-red-600': _isInputKelurahanError }"
                                id="kelurahan"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputKelurahanError"
                                for="kelurahan"
                                value="Isian tidak boleh kosong."
                                class="text-red-600" />
                        </div>

                        <!-- kecamatan -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                for="kecamatan"
                                value="Kecamatan*" />
                            <jet-input
                                v-model="form.kecamatan"
                                :class="{ 'border-red-600': _isInputKecamatanError }"
                                id="kecamatan"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputKecamatanError"
                                for="kecamatan"
                                value="Isian tidak boleh kosong."
                                class="text-red-600" />
                        </div>

                        <!-- kab/kota -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                for="kabkota"
                                value="Kabupatan/Kota*" />
                            <jet-input
                                v-model="form.kabkota"
                                :class="{ 'border-red-600': _isInputKabkotaError }"
                                id="kabkota"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputKabkotaError"
                                for="kabkota"
                                value="Isian tidak boleh kosong."
                                class="text-red-600" />
                        </div>

                        <!-- provinsi -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                for="provinsi"
                                value="Provinsi*" />
                            <jet-input
                                v-model="form.province"
                                :class="{ 'border-red-600': _isInputProvinsiError }"
                                id="provinsi"
                                type="text"
                                class="mt-1 block w-full"
                                placeholder="Min. 4 huruf" />
                            <jet-label
                                v-show="_isInputProvinsiError"
                                for="provinsi"
                                value="Isian tidak boleh kosong."
                                class="text-red-600" />
                        </div>

                        <!-- datetime -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                for="datetime"
                                value="Waktu Pelaksanaan*" />
                            <jet-input
                                v-model="form.datetime"
                                :class="{ 'border-red-600': _isInputDatetimeError }"
                                id="datetime"
                                type="date"
                                class="mt-1 block w-full" />
                            <jet-label
                                v-show="_isInputDatetimeError"
                                for="datetime"
                                value="Isian tidak boleh kosong."
                                class="text-red-600" />
                        </div>
                    </div>

                    <div class="w-4/12 sm:max-w-md mt-6 ml-4 bg-white shadow-md overflow-hidden sm:rounded-lg">
                        <!-- pic -->
                        <jet-section-title class="bg-blue-500 px-4 py-3" :isTitleWhite="true">
                            <template #title>Penanggung Jawab Lapangan</template>
                            <template #description>Tenaga medis/kesehatan penanggung jawab lapangan.</template>
                            <template #aside></template>
                        </jet-section-title>

                        <!-- has doctor -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                value="Apakah memiliki tenaga medis/kesehatan sebagai penanggung jawab lapangan?" />
                            <div class="mt-1 block">
                                <jet-input
                                    v-model="form.has_doctor"
                                    :class="{ 'border-red-600': _isInputHasDoctorError }"
                                    :checked="true"
                                    value="yes"
                                    id="has_doctor_yes"
                                    name="has_doctor"
                                    type="radio"
                                    @change="setHasDoctor('yes')" />
                                <jet-label
                                    for="has_doctor_yes"
                                    value="Ya"
                                    class="ml-2"
                                    style="display:inline-block;" />
                            </div>

                            <div class="mt-1 block">
                                <jet-input
                                    v-model="form.has_doctor"
                                    :class="{ 'border-red-600': _isInputHasDoctorError }"
                                    value="no"
                                    id="has_doctor_no"
                                    name="has_doctor"
                                    type="radio"
                                    @change="setHasDoctor('no')" />
                                <jet-label
                                    for="has_doctor_no"
                                    value="Tidak"
                                    class="ml-2"
                                    style="display:inline-block;"  />
                            </div>
                        </div>

                        <!-- doctor name -->
                        <div class="mt-4 mx-6" v-show="form.has_doctor === 'yes'">
                            <jet-label
                                for="doctor_name"
                                value="Nama tenaga medis/kesehatan*" />
                            <jet-input
                                v-model="form.doctor_name"
                                :class="{ 'border-red-600': _isInputDoctorNameError }"
                                id="doctor_name"
                                type="text"
                                class="mt-1 block w-full" />
                            <jet-label
                                v-show="_isInputDoctorNameError"
                                for="doctor_name"
                                value="Nama harus lebih dari 5 huruf."
                                class="text-red-600" />
                        </div>

                        <!-- doctor phone -->
                        <div class="mt-4 mx-6" v-show="form.has_doctor === 'yes'">
                            <jet-label
                                for="doctor_phone"
                                value="Nomor kontak tenaga medis/kesehatan*" />
                            <jet-input
                                v-model="form.doctor_phone"
                                :class="{ 'border-red-600': _isInputDoctorPhoneError }"
                                id="doctor_phone"
                                type="number"
                                placeholder="081234567890"
                                class="mt-1 block w-full" />
                            <jet-label
                                v-show="_isInputProvinsiError"
                                for="doctor_phone"
                                value="Nomor handphone berisi 10 sampai 14 angka"
                                class="text-red-600" />
                        </div>

                        <!-- vaccinator team -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                :class="{ 'text-red-600': _isInputHasTeamError }"
                                value="Apakah memiliki tim vaksinasi?*" />
                            <div class="mt-1 block">
                                <jet-input
                                    v-model="form.has_vaccinator_team"
                                    :class="{ 'border-red-600': _isInputHasTeamError }"
                                    id="vaccinator_team_yes"
                                    name="has_vaccinator_team"
                                    type="radio"
                                    value="yes"
                                    @change="setHasTeam('yes')" />
                                <jet-label
                                    for="vaccinator_team_yes"
                                    value="Ya"
                                    class="ml-2"
                                    style="display:inline-block;"  />
                            </div>

                            <div class="mt-1 block">
                                <jet-input
                                    v-model="form.has_vaccinator_team"
                                    :class="{ 'border-red-600': _isInputHasTeamError }"
                                    id="vaccinator_team_no"
                                    name="has_vaccinator_team"
                                    type="radio"
                                    value="no"
                                    @change="setHasTeam('no')" />
                                <jet-label
                                    for="vaccinator_team_no"
                                    value="Tidak"
                                    class="ml-2"
                                    style="display:inline-block;"  />
                            </div>
                        </div>

                        <!-- vaccine capacity -->
                        <div class="mt-4 mx-6">
                            <jet-label
                                for="vaccine_capacity"
                                value="Kapasitas vaksinasi yang akan diselenggarakan*" />
                            <jet-input
                                v-model="form.vaccine_capacity"
                                :class="{ 'border-red-600': _isInputCapacityError }"
                                id="vaccine_capacity"
                                type="number"
                                min="0"
                                class="mt-1 block w-full"
                                placeholder="0" />
                            <jet-label
                                v-show="_isInputCapacityError"
                                for="vaccine_capacity"
                                value="Kapasitas vaksinasi harus lebih dari 0"
                                class="text-red-600" />
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-start mt-6">
                    <default-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Kirim Form
                    </default-button>

                    <a href="https://pharmamed.online/privacy.html"
                        target="_blank"
                        class="ml-2 underline text-sm text-gray-600 hover:text-gray-900"
                    >
                        Kebijakan Privasi dan Keamanan Data
                    </a>
                </div>
            </form>

        </div>
    </div>

    <jet-modal-dialog :show="_isLocationDialogShown">
        <template #title>
            Pilih Lokasi Vaksinasi
        </template>

        <template #content>
            <div class="grid grid-cols-1">
                <default-button
                    v-for="(location, key) in _locationList" :key="key"
                    v-html="location.address"
                    type="button"
                    class="mt-1"
                    @click="setSelectedLocation(location)"
                    style="text-align:left;"
                >
                </default-button>
            </div>
        </template>

        <template #footer>
            <jet-secondary-button class="ml-4" @click="closeDialog">
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>
</template>

<script>
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetModalDialog from '@/Jetstream/DialogModal.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetSectionTitle from'@/Jetstream/SectionTitle.vue'
    import DefaultButton from '@/MyComponents/DefaultButton.vue'

    export default {
        components: {
            Head,
            Link,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetModalDialog,
            JetInput,
            JetLabel,
            JetValidationErrors,
            JetSecondaryButton,
            JetSectionTitle,
            DefaultButton,
        },
        props: {
        },
        data() {
            return {
                _numOfErrors: 0,
                form: this.$inertia.form({
                    company_name: '',
                    company_kabkota: '',
                    company_province: '',
                    company_phone: '',
                    company_email: '',
                    company_pic: '',
                    has_doctor: 'yes',
                    doctor_name: '',
                    doctor_phone: '',
                    has_vaccinator_team: '',
                    vaccine_capacity: 0,
                    place: '',
                    address: '',
                    kelurahan: '',
                    kecamatan: '',
                    kabkota: '',
                    province: '',
                    datetime: '',
                }),
                _isInputCompanyNameError: false,
                _isInputCompanyKabkotaError: false,
                _isInputCompanyProvinceError: false,
                _isInputCompanyPhoneError: false,
                _isInputCompanyEmailError: false,
                _isInputCompanyPicError: false,
                _isInputHasDoctorError: false,
                _isInputDoctorNameError: false,
                _isInputDoctorPhoneError: false,
                _isInputHasTeamError: false,
                _isInputDoctorNameError: false,
                _isInputCapacityError: false,
                _isInputPlaceError: false,
                _isInputAddressError: false,
                _isInputKelurahanError: false,
                _isInputKecamatanError: false,
                _isInputKabkotaError: false,
                _isInputProvinsiError: false,
                _isInputDatetimeError: false,
            }
        },
        methods: {
            setHasDoctor(hasDoctor) {
                this.form.has_doctor = hasDoctor;
            },
            setHasTeam(hasTeam) {
                this.form.has_vaccinator_team = hasTeam;
            },
            submit() {
                if (!this._hasErrors()) {
                    this.form.post(this.route('vaccine-do-company'), {
                        onFinish: () => this.onFinishSubmit(),
                    });
                }
            },
            onFinishSubmit() {
                console.log(this.$page.props.flash.message);
                this.form.reset(
                    'company_name',
                    'company_kabkota',
                    'company_province',
                    'company_phone',
                    'company_email',
                    'company_pic',
                    'has_doctor',
                    'doctor_name',
                    'doctor_phone',
                    'has_vaccinator_team',
                    'vaccine_capacity',
                    'place',
                    'address',
                    'kelurahan',
                    'kecamatan',
                    'kabkota',
                    'provinsi',
                    'datetime'
                );
            },
            _checkEmail(email) {
                var result = false;
                var emailRegex = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                if (emailRegex.test(email)) {
                    result = true;
                }
                return result;
            },
            _hasErrors() {
                this._numOfErrors = 0;

                if (this.form.company_name.trim().length < 5) {
                    this._isInputCompanyNameError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputCompanyNameError = false;
                }

                if (this.form.company_kabkota.trim().length < 4) {
                    this._isInputCompanyKabkotaError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputCompanyKabkotaError = false;
                }

                if (this.form.company_province.trim().length < 4) {
                    this._isInputCompanyProvinceError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputCompanyProvinceError = false;
                }

                if ((this.form.company_phone.trim().length < 10) || (this.form.company_phone.trim().length > 14)) {
                    this._isInputCompanyPhoneError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputCompanyPhoneError = false;
                }

                this._isInputCompanyEmailError = false;
                if (this.form.company_email.trim() != '') {
                    if (!this._checkEmail(this.form.company_email)) {
                        this._isInputCompanyEmailError = true;
                        this._numOfErrors++;
                    }
                }

                this._isInputCompanyPicError = false;
                if (this.form.company_pic.trim() != '') {
                    if (this.form.company_pic.trim().length < 4) {
                        this._isInputCompanyPicError = true;
                        this._numOfErrors++;
                    }
                }

                if (this.form.has_doctor) {
                    if (this.form.doctor_name.trim().length < 4) {
                        this._isInputDoctorNameError = true;
                        this._numOfErrors++;
                    } else {
                        this._isInputDoctorNameError = false;
                    }

                    if ((this.form.doctor_phone.trim().length < 10) || (this.form.doctor_phone.trim().length > 14)) {
                        this._isInputDoctorPhoneError = true;
                        this._numOfErrors++;
                    } else {
                        this._isInputDoctorPhoneError = false;
                    }
                }

                if (this.form.has_vaccinator_team == '') {
                    this._isInputHasTeamError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputHasTeamError = false;
                }

                if (this.form.vaccine_capacity <= 0) {
                    this._isInputCapacityError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputCapacityError = false;
                }

                if (this.form.place.trim().length < 4) {
                    this._isInputPlaceError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputPlaceError = false;
                }

                if (this.form.address.trim().length < 4) {
                    this._isInputAddressError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputAddressError = false;
                }

                if (this.form.kelurahan.trim().length < 4) {
                    this._isInputKelurahanError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputKelurahanError = false;
                }

                if (this.form.kecamatan.trim().length < 4) {
                    this._isInputKecamatanError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputKecamatanError = false;
                }

                if (this.form.kabkota.trim().length < 4) {
                    this._isInputKabkotaError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputKabkotaError = false;
                }

                if (this.form.province.trim().length < 4) {
                    this._isInputProvinsiError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputProvinsiError = false;
                }

                if (this.form.datetime.trim().length < 10) {
                    this._isInputDatetimeError = true
                    this._numOfErrors++;
                } else {
                    this._isInputDatetimeError = false;
                }

                return (this._numOfErrors) > 0 ? true : false;
            },
        }
    }
</script>
