<template>
    <Head title="Pendaftaran Massal Vaksinasi Covid-19" />

    <jet-authentication-card>
        <template #logo>
            <jet-authentication-card-logo />
        </template>

        <jet-validation-errors class="mb-4" />

        <div
            v-show="_isRegistrationResultShown"
            :class="{
                'border-green-600 bg-green-100 text-green-900': _isRegistrationOk,
                'border-red-600 bg-red-100 text-red-900': _isRegistrationError
            }"
            class="py-2 px-4 border rounded-lg"
        >
            <p v-html="_registrationResultMessage" class="text-sm"></p>

            <info-button
                v-show="_isRegistrationOk"
                @click="closeRegistrationReport()"
                class="mt-2"
            >
                Tutup
            </info-button>
        </div>

        <form @submit.prevent="submit" enctype="multipart/form-data">
            <div class="mt-4">
                <!-- <jet-label for="name" value="Nama Penanggung Jawab (sesuai KTP)" /> -->
                <p>
                    Nama Penanggung Jawab (sesuai KTP)
                    <span class="text-red-500">*</span>
                </p>
                <jet-input
                    v-model="form.name"
                    :class="{
                        'border-red-600': _isInputNameError,
                        'bg-gray-200': _isInputDisabled,
                    }"
                    :disabled="_isInputDisabled"
                    id="name"
                    type="text"
                    class="mt-1 block w-full" />
                <jet-label
                    v-show="_isInputNameError"
                    for="name"
                    value="Nama harus lebih dari 4 huruf."
                    class="text-red-600" />
            </div>

            <div class="mt-4">
                <!-- <jet-label for="phone" value="Handphone Penanggung Jawab" /> -->
                <p>
                    Handphone Penanggung Jawab
                    <span class="text-red-500">*</span>
                </p>
                <jet-input
                    :class="{
                        'border-red-600': _isInputPhoneError,
                        'bg-gray-200': _isInputDisabled,
                    }"
                    :disabled="_isInputDisabled"
                    v-model="form.phone"
                    id="phone"
                    type="number"
                    min="0"
                    class="mt-1 block w-full" />
                <jet-label
                    v-show="_isInputPhoneError"
                    for="phone"
                    value="Telepon harus berisi 10 sampai 14 angka."
                    class="text-red-600" />
            </div>

            <div class="mt-4">
                <!-- <jet-label for="file" value="File Daftar Peserta (Microsoft Excel .xlsx)" /> -->
                <p>
                    File Daftar Peserta (Microsoft Excel .xlsx)
                    <span class="text-red-500">*</span>
                </p>
                <jet-input
                    :class="{ 'border-red-600': _isInputFileError }"
                    :disabled="_isInputDisabled"
                    @input="form.file = $event.target.files[0]"
                    id="file"
                    type="file"
                    accept=".xlsx"
                    class="mt-1 block w-full" />
                <jet-label
                    v-show="_isInputFileError"
                    for="file"
                    value="File pendaftaran tidak boleh kosong."
                    class="text-red-600" />
            </div>

            <div class="mt-4 px-4">
                <p class="text-sm">
                    <ul class="list-disc">
                        <li>Data calon peserta ditulis pada sheet pertama.</li>
                        <li>Penulisan data calon peserta dimulai dari baris kedua.</li>
                        <li>
                            File template Excel (.xlsx) bisa diunduh pada
                            <a
                                :href="route('vaccineBulkDownload')"
                                class="underline text-sm text-gray-600 hover:text-gray-900"
                            >tautan ini</a>.
                        </li>
                        <li>
                            Kode lokasi vaksinasi bisa dilihat pada
                            <a
                                href="https://pharmamed.online/vaccine.html#schedule-location" target="_blank"
                                class="underline text-sm text-gray-600 hover:text-gray-900"
                            >tautan ini</a>.
                        </li>
                    </ul>
                </p>
            </div>

            <div class="flex items-center justify-between mt-4">
                <a href="https://pharmamed.online/privacy.html"
                    target="_blank"
                    class="underline text-sm text-gray-600 hover:text-gray-900"
                >
                    Kebijakan Privasi dan Keamanan Data
                </a>

                <default-button
                    :class="{ 'opacity-25': form.processing }"
                    :disabled="form.processing || _isInputDisabled"
                    class="ml-4"
                >
                    Daftar
                </default-button>
            </div>
        </form>
    </jet-authentication-card>
</template>

<script>
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import DefaultButton from '@/MyComponents/DefaultButton.vue'
    import InfoButton from '@/MyComponents/InfoButton.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default {
        components: {
            Head,
            Link,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetInput,
            JetLabel,
            JetValidationErrors,
            DefaultButton,
            InfoButton,
        },
        data() {
            return {
                _numOfErrors: 0,
                _isInputNameError: false,
                _isInputPhoneError: false,
                _isInputFileError: false,
                _isInputDisabled: false,
                form: this.$inertia.form({
                    name: '',
                    phone: '',
                    file: null,
                }),
                _isRegistrationResultShown: false,
                _isRegistrationOk: false,
                _isRegistrationError: false,
                _registrationResultMessage: '',
            }
        },
        methods: {
            submit() {
                if (!this._inputHasErrors()) {
                    this._disableInputs(true);
                    this.form.post(this.route('vaccine-do-bulk'), {
                        onFinish: () => this._onSubmitFinish(),
                    })
                }
            },
            closeRegistrationReport() {
                this._isRegistrationResultShown = false;
                this._isRegistrationOk = false;
                this._isRegistrationError = false;
                this._registrationResultMessage = '';
                this._clearInputs();
                this._disableInputs(false);
            },
            _onSubmitFinish() {
                var processResult = this.$page.props.flash.message;
                this._showRegistrationReport(processResult);
            },
            _inputHasErrors() {
                this._numOfErrors = 0;

                if (this.form.name.length < 4) {
                    this._isInputNameError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputNameError = false;
                }

                if ((this.form.phone.length < 10) || (this.form.phone.length > 14)) {
                    this._isInputPhoneError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputPhoneError = false;
                }

                if (this.form.file == null) {
                    this._isInputFileError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputFileError = false;
                }

                return (this._numOfErrors > 0) ? true : false;
            },
            _showRegistrationReport(processResult) {
                if (processResult.result === 200) {
                    this._isRegistrationOk = true;
                    this._isRegistrationError = false;
                } else {
                    this._isRegistrationOk = false;
                    this._isRegistrationError = true;
                    this._disableInputs(false);
                }

                this._registrationResultMessage = processResult.text;
                this._isRegistrationResultShown = true;
            },
            _clearInputs() {
                this.form.name = '';
                this.form.phone = '';
                this.form.file = null;
            },
            _disableInputs(isDisabled) {
                this._isInputDisabled = isDisabled;
            },
        }
    }
</script>
