<template>
    <app-layout title="Daftar Peserta">
        <!--
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>
        -->

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <!-- location info panel -->
                    <div v-if="_locationList.length > 1">
                        <default-button
                            :type="button"
                            @click="showLocationDialog"
                            class="mx-4 mt-4"
                            style="text-align:left; box-shadow:0 .125rem .25rem rgba(59, 130, 246, .5) !important;"
                        >
                            <span v-html="selectedLocation.address"></span>
                            <svg class="ml-4 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </default-button>
                    </div>
                    <div
                        v-else-if="_locationList.length === 1"
                        class="mx-4 mt-4 px-3 py-2 bg-blue-100 text-blue-900 border-blue-500 rounded-lg"
                        style="text-align:left; box-shadow:0 .125rem .25rem rgba(59, 130, 246, .5) !important;"
                    >
                        <span v-html="selectedLocation.address.replace('<br><br>', '<br>')"></span>
                    </div>

                    <!-- search panel -->
                    <div class="mx-4 mt-4">
                        <!--
                        <jet-input
                            v-model="searchName"
                            :disabled="isInputDisabled"
                            id="search"
                            type="text"
                            class="inline-block"
                            placeholder="Min. 3 huruf atau kosongkan" />

                        <default-button
                            :disabled="isInputDisabled"
                            @click="submitSearch"
                            type="button"
                            class="ml-2 inline-block"
                        >
                            Cari Nama
                        </default-button>
                        -->

                        <span class="px-4 py-2 bg-green-600 text-white rounded-lg inline-block">
                            Total data: {{ _totalData }}
                        </span>

                        <default-button
                            :disabled="isInputDisabled"
                            @click="gotoRegistrationPage"
                            type="button"
                            class="ml-2 inline-block"
                        >
                            Pendaftaran Baru
                        </default-button>

                        <default-button
                            :disabled="isInputDisabled"
                            @click="showUploadExcelDialog"
                            type="button"
                            class="ml-2 inline-block"
                        >
                            Unggah Excel
                        </default-button>
                    </div>

                    <!-- list panel -->
                    <div class="mx-4 mt-2 mb-4">
                        <table class="table table-striped table-hover" id="registrants-datatable">
                            <thead>
                                <tr>
                                    <th class="w-2/12 py-3 border-b border-t text-left">No. Identitas</th>
                                    <th class="w-3/12 py-3 border-b border-t text-left">No. Registrasi</th>
                                    <th class="w-3/12 py-3 border-b border-t text-left">Nama</th>
                                    <th class="w-2/12 py-3 border-b border-t text-left">Handphone</th>
                                    <th class="w-2/12 py-3 border-b border-t text-left">Aksi</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </app-layout>

    <jet-modal-dialog :show="isLocationDialogShown">
        <template #title>
            Pilih Lokasi Vaksinasi
        </template>

        <template #content>
            <div class="grid grid-cols-1">
                <default-button
                    v-for="(location, key) in _locationList" :key="key"
                    v-html="location.address"
                    :disabled="isInputDisabled"
                    type="button"
                    class="mt-1"
                    @click="setSelectedLocation(location)"
                    style="text-align:left;"
                >
                </default-button>
            </div>
        </template>

        <template #footer>
            <jet-secondary-button
                :disabled="isInputDisabled"
                @click="closeDialog"
                class="ml-4"
            >
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>

    <jet-modal-dialog :show="isUploadExcelModalShown">
        <template #title>
            Unggah Data Peserta Vaksinasi Covid-19
        </template>

        <template #content>
            <form @submit.prevent="submitUpload" enctype="multipart/form-data">
                <div class="mt-4">
                    <!-- <jet-label for="file" value="File Daftar Peserta (Microsoft Excel .xlsx)" /> -->
                    <p>
                        File Daftar Peserta (Microsoft Excel .xlsx)
                        <span class="text-red-500">*</span>
                    </p>
                    <jet-input
                        :class="{ 'border-red-600': _isInputFileError }"
                        :disabled="_isInputDisabled"
                        @input="formUpload.file = $event.target.files[0]"
                        id="file"
                        type="file"
                        accept=".xlsx"
                        class="mt-1 block w-full" />
                    <jet-label
                        v-show="_isInputFileError"
                        for="file"
                        value="File pendaftaran tidak boleh kosong."
                        class="text-red-600" />
                </div>

                <div class="mt-4 px-4">
                    <p class="text-sm">
                        <ul class="list-disc">
                            <li>
                                File template Excel (.xlsx) bisa diunduh pada
                                <a
                                    :href="route('vaccineBulkDownload')"
                                    class="underline text-sm text-gray-600 hover:text-gray-900"
                                >tautan ini</a>.
                            </li>
                            <li>
                                Pastikan data Calon Peserta hanya ditulis satu kali. Duplikasi data akan memboroskan/membuang
                                nomor antrian.
                            </li>
                            <li>
                                Pastikan data Calon Peserta yang ditulis merupakan peserta yang benar-benar akan didaftarkan
                                untuk mengikuti proses vaksinasi.
                            </li>
                            <li>
                                Aturan/persyaratan lain mengenai tata cara penulisan data Calon Peserta dapat dilihat pada
                                file contoh Excel yang ada pada tautan di atas.
                            </li>
                        </ul>
                    </p>
                </div>
            </form>
        </template>

        <template #footer>
            <jet-secondary-button
                :disabled="isInputDisabled"
                @click="cancelUpload"
                class="ml-4"
            >
                Tutup
            </jet-secondary-button>

            <info-button
                :disabled="isInputDisabled"
                @click="submitUpload"
                class="ml-4"
            >
                Unggah
            </info-button>
        </template>
    </jet-modal-dialog>

    <jet-modal-dialog :show="isFinishDialogShown">
        <template #title>
        </template>

        <template #content>
            Proses registrasi sudah selesai. Silahkan melanjutkan pada proses 'Screening'.
        </template>

        <template #footer>
            <jet-secondary-button
                :disabled="isInputDisabled"
                @click="closeDialog"
                class="ml-4"
            >
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetModalDialog from '@/Jetstream/DialogModal.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import DefaultButton from '@/MyComponents/DefaultButton.vue'
    import EditButton from '@/MyComponents/EditButton.vue'
    import InfoButton from '@/MyComponents/InfoButton.vue'

    import 'bootstrap/dist/css/bootstrap.min.css'
    import 'jquery/dist/jquery.min.js'
    import "datatables.net/js/jquery.dataTables.min"
    import "datatables.net-dt/js/dataTables.dataTables.min"
    import "datatables.net-dt/css/jquery.dataTables.min.css"
    import $ from 'jquery';

    export default {
        components: {
            AppLayout,
            JetModalDialog,
            JetDangerButton,
            JetSecondaryButton,
            JetInput,
            JetLabel,
            DefaultButton,
            EditButton,
            InfoButton,
        },
        props: {
            locations: Array,
            selLocation: Object,
            totalData: Number,
        },
        data() {
            return {
                _locationList: this.locations,
                isLocationDialogShown: false,
                isUploadExcelModalShown: false,
                isFinishDialogShown: false,
                isInputDisabled: false,
                selectedLocation: this.selLocation,
                _totalData: this.totalData,

                formUpload: this.$inertia.form({
                    file: null,
                }),
            }
        },
        methods: {
            setSelectedLocation(location) {
                this.selectedLocation = location;
                this.getRegistrantList();
            },
            showLocationDialog() {
                this.isLocationDialogShown = true;
            },
            showFinishDialog() {
                this.isFinishDialogShown = true;
            },
            closeDialog() {
                this.isNewData = false;
                this.isLocationDialogShown = false;
                this.isUploadExcelModalShown = false;
                this.isFinishDialogShown = false;
            },
            _setInputsDisabled(isDisabled) {
                this.isInputDisabled = isDisabled;
            },

            gotoRegistrationPage() {
                window.location.href = './inputregistrant/' + this.selectedLocation.uuid;
            },

            showUploadExcelDialog() {
                this.isUploadExcelModalShown = true;
            },
            submitUpload() {
                if (!this._uploadHasErrors()) {
                    this._disableInputs(true);
                    this.formUpload.location = this.selectedLocation.uuid;
                    this.formUpload.post(this.route('store-registrant-bulk'), {
                        onFinish: () => this._onSubmitUploadFinish(),
                    });
                }
                else {
                    alert('Sertakan file Excel yang akan diunggah');
                }
            },
            cancelUpload() {
                this.formUpload.file = null;
                this.closeDialog();
            },
            _onSubmitUploadFinish() {
                var processResult = this.$page.props.flash.message;
                if (processResult.result === 200) {
                    this.getRegistrantList();
                }
                else {
                    this._disableInputs(false);
                }
                alert(processResult.text);
            },
            _uploadHasErrors() {
                this._numOfErrors = 0;

                if (this.formUpload.file == null) {
                    this._isInputFileError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputFileError = false;
                }

                return (this._numOfErrors > 0) ? true : false;
            },
        },
        mounted() {
            $('#registrants-datatable').DataTable({
                'ajax': {
                    'url': route('vaccine-get-registrants'),
                    'type': 'POST',
                    'data': {
                        'location': this.selectedLocation.uuid,
                    },
                },
                'processing': true,
                'serverSide': true,
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "columns": [
                    { "data": "ktp_nik" },
                    { "data": "registration_number" },
                    { "data": "full_name" },
                    { "data": "handphone" },
                    {
                        "data": "screening_decision",
                        'name': 'screening_decision',
                    },
                ],
            });
        },
    }
</script>
