<template>
    <Head title="Pendaftaran Individu Vaksinasi Covid-19" />

    <jet-authentication-card class="w-full py-6">
        <template #logo>
            <jet-authentication-card-logo />
        </template>

        <jet-validation-errors class="mb-4" />

        <div
            v-show="_isRegistrationResultShown"
            :class="{
                'border-green-600 bg-green-100 text-green-900': _isRegistrationOk,
                'border-red-600 bg-red-100 text-red-900': _isRegistrationError
            }"
            class="py-2 px-4 border rounded-lg"
        >
            <p v-html="_registrationResultMessage" class="text-sm"></p>

            <info-button
                v-show="_isRegistrationOk"
                @click="closeRegistrationReport()"
                class="mt-2"
            >
                Tutup
            </info-button>
        </div>

        <form @submit.prevent="submit">
            <div class="max-w-screen-md">
                <!-- name -->
                <div class="mt-4">
                    <!-- <jet-label for="name" value="Nama Lengkap*" /> -->
                    <p>
                        Nama Lengkap
                        <span class="text-red-500">*</span>
                    </p>
                    <jet-input
                        v-model="form.name"
                        :class="{
                            'border-red-600': _isInputNameError,
                            'bg-gray-200': _isInputDisabled,
                        }"
                        :disabled="_isInputDisabled"
                        id="name"
                        type="text"
                        minlength="5"
                        maxlength="30"
                        class="mt-1 block w-full" />
                    <jet-label
                        v-show="_isInputNameError"
                        for="name"
                        value="Nama harus lebih dari 5 huruf."
                        class="text-red-600" />
                </div>

                <!-- phone -->
                <div class="mt-4">
                    <!-- <jet-label for="phone" value="Nomor Handphone*" /> -->
                    <p>
                        Nomor Handphone
                        <span class="text-red-500">*</span>
                    </p>
                    <jet-input
                        v-model="form.phone"
                        :class="{
                            'border-red-600': _isInputPhoneError,
                            'bg-gray-200': _isInputDisabled,
                        }"
                        :disabled="_isInputDisabled"
                        id="phone"
                        type="number"
                        min="0"
                        class="mt-1 block w-full" />
                    <jet-label
                        v-show="_isInputPhoneError"
                        for="phone"
                        value="Handphone berisi 10 sampai 14 angka."
                        class="text-red-600" />
                </div>

                <!-- ktp_nik -->
                <div class="mt-4">
                    <p>
                        Nomor Identitas / Pengenal
                        <span class="text-red-500">*</span>
                    </p>
                    <jet-label
                        value="(NIK/KTP/KK/KITAS/KITAP/KARTU PELAJAR/MAHASISWA)" />
                    <jet-input
                        v-model="form.ktp_nik"
                        :class="{
                            'border-red-600': _isInputNikError,
                            'bg-gray-200': _isInputDisabled,
                        }"
                        :disabled="_isInputDisabled"
                        id="ktp_nik"
                        type="text"
                        minlength="16"
                        maxlength="30"
                        class="mt-1 block w-full" />
                    <jet-label
                        class="text-xs mt-1"
                        value="Ketikkan 'TIDAK ADA PENGENAL' apabila tidak punya tanda pengenal." />
                    <jet-label
                        v-show="_isInputNikError"
                        for="ktp_nik"
                        value="Isian tidak boleh kosong."
                        class="text-red-600" />
                </div>

                <!-- lokasi -->
                <div class="mt-4">
                    <!-- <jet-label for="location" value="Lokasi Vaksinasi*" /> -->
                    <p>
                        Lokasi Vaksinasi
                        <span class="text-red-500">*</span>
                    </p>

                    <jet-secondary-button
                        :class="{ 'border-red-600': _isInputLocationError }"
                        :disabled="_isInputDisabled"
                        @click="showLocationDialog"
                        id="location"
                        type="button"
                        class="inline-flex px-3 py-2 w-full"
                        style="text-align:left;"
                    >
                        <span v-html="_selectedLocation.address" class="w-full"></span>

                        <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </jet-secondary-button>

                    <jet-label
                        v-show="_isInputLocationError"
                        for="location"
                        value="Lokasi tidak boleh kosong."
                        class="text-red-600" />
                </div>

                <jet-section-title
                    class="mt-4 py-2 px-4 border border-blue-600 bg-blue-100 rounded-lg text-blue-900"
                >
                    <template #title>Informasi Pribadi</template>
                    <!--
                    <template #description>
                        Isian di bawah ini tidak wajib untuk diisi saat ini tetapi akan tetap ditanyakan kepada Anda pada saat
                        melakukan registrasi ulang di lokasi vaksinasi. Isian ini digunakan untuk pembuatan sertifikat atau kartu
                        tanda bahwa Anda telah melakukan vaksinasi.
                    </template>
                    -->
                    <template #description>
                        Isian di bawah ini tidak wajib untuk diisi.
                    </template>
                    <template #aside></template>
                </jet-section-title>

                <!-- nth_dosage -->
                <!--
                <div class="mt-4">
                    <jet-label for="nth_dosage" value="Dosis/Vaksinasi yang Ke-" />
                    <jet-secondary-button
                        :show="_isWithAdmin"
                        @click="showNthDosageDialog"
                        id="nth_dosage"
                        style="text-align:left"
                        class="inline-flex px-3 py-2 w-full"
                        type="button"
                    >
                        <span class="w-full">{{ form.nth_dosage }}</span>

                        <svg class="ml-4 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                        </svg>
                    </jet-secondary-button>
                </div>
                -->

                <!-- sex -->
                <div class="mt-4">
                    <jet-label
                        value="Jenis Kelamin." />
                    <div class="mt-1 block">
                        <jet-input
                            v-model="form.sex"
                            :checked="form.sex === 'm'"
                            :disabled="_isInputDisabled"
                            value="m"
                            id="sex_male"
                            name="sex"
                            type="radio" />
                        <jet-label
                            for="sex_male"
                            value="Pria"
                            class="ml-2"
                            style="display:inline-block;" />
                    </div>
                    <div class="mt-1 block">
                        <jet-input
                            v-model="form.sex"
                            :checked="form.sex === 'f'"
                            :disabled="_isInputDisabled"
                            value="f"
                            id="sex_female"
                            name="sex"
                            type="radio" />
                        <jet-label
                            for="sex_female"
                            value="Wanita"
                            class="ml-2"
                            style="display:inline-block;"  />
                    </div>
                </div>

                <!-- birth-date -->
                <!--
                <div class="mt-4">
                    <jet-label
                        for="birthdate"
                        value="Tanggal lahir" />
                    <jet-input
                        v-model="form.birthDate"
                        :class="{ 'border-red-600': _isInputBirthDateError }"
                        :disabled="_isInputDisabled"
                        id="birthdate"
                        type="date"
                        class="mt-1 block w-full" />
                    <jet-label
                        v-show="_isInputBirthDateError"
                        for="birthdate"
                        value="Isian salah."
                        class="text-red-600" />
                </div>
                -->

                <!-- address -->
                <div class="mt-4">
                    <jet-label
                        for="address"
                        value="Alamat" />
                    <jet-input
                        v-model="form.address"
                        :class="{ 'border-red-600': _isInputAddressError }"
                        :disabled="_isInputDisabled"
                        id="address"
                        type="text"
                        minlength="10"
                        maxlength="255"
                        class="mt-1 block w-full"
                        placeholder="Min. 10 huruf" />
                    <jet-label
                        v-show="_isInputAddressError"
                        for="address"
                        value="Isian harus lebih dari 10 huruf."
                        class="text-red-600" />
                </div>

                <!-- kelurahan -->
                <!--
                <div class="mt-4">
                    <jet-label
                        for="kelurahan"
                        value="Kelurahan" />
                    <jet-input
                        v-model="form.kelurahan"
                        :class="{ 'border-red-600': _isInputKelurahanError }"
                        :disabled="_isInputDisabled"
                        id="kelurahan"
                        type="text"
                        class="mt-1 block w-full"
                        placeholder="Min. 4 huruf" />
                    <jet-label
                        v-show="_isInputKelurahanError"
                        for="kelurahan"
                        value="Isian salah."
                        class="text-red-600" />
                </div>
                -->

                <!-- kecamatan -->
                <!--
                <div class="mt-4">
                    <jet-label
                        for="kecamatan"
                        value="Kecamatan" />
                    <jet-input
                        v-model="form.kecamatan"
                        :class="{ 'border-red-600': _isInputKecamatanError }"
                        :disabled="_isInputDisabled"
                        id="kecamatan"
                        type="text"
                        class="mt-1 block w-full"
                        placeholder="Min. 4 huruf" />
                    <jet-label
                        v-show="_isInputKecamatanError"
                        for="kecamatan"
                        value="Isian salah."
                        class="text-red-600" />
                </div>
                -->

                <!-- kab/kota -->
                <!--
                <div class="mt-4">
                    <jet-label
                        for="kabkota"
                        value="Kabupatan/Kota" />
                    <jet-input
                        v-model="form.kabkota"
                        :class="{ 'border-red-600': _isInputKabkotaError }"
                        :disabled="_isInputDisabled"
                        id="kabkota"
                        type="text"
                        class="mt-1 block w-full"
                        placeholder="Min. 4 huruf" />
                    <jet-label
                        v-show="_isInputKabkotaError"
                        for="kabkota"
                        value="Isian salah."
                        class="text-red-600" />
                </div>
                -->

                <!-- provinsi -->
                <div class="mt-4">
                    <jet-label
                        for="provinsi"
                        value="Provinsi" />
                    <p>JAWA TIMUR</p>

                    <!--
                    <jet-input
                        v-model="form.province"
                        :class="{ 'border-red-600': _isInputProvinsiError }"
                        :disabled="_isInputDisabled"
                        id="provinsi"
                        type="text"
                        class="mt-1 block w-full"
                        placeholder="Min. 4 huruf" />
                    <jet-label
                        v-show="_isInputProvinsiError"
                        for="provinsi"
                        value="Isian salah."
                        class="text-red-600" />
                    -->
                </div>
            </div>

            <div class="flex items-center justify-between mt-4">
                <a href="https://pharmamed.online/privacy.html"
                    target="_blank"
                    class="underline text-sm text-gray-600 hover:text-gray-900"
                >
                    Kebijakan Privasi dan Keamanan Data
                </a>

                <default-button
                    :class="{ 'opacity-25': form.processing }"
                    :disabled="form.processing || _isInputDisabled"
                    class="ml-4"
                >
                    Daftar
                </default-button>
            </div>
        </form>
    </jet-authentication-card>

    <jet-modal-dialog :show="_isLocationDialogShown">
        <template #title>
            Pilih Lokasi Vaksinasi
        </template>

        <template #content>
            <div class="grid grid-cols-1">
                <default-button
                    v-for="(location, key) in _locationList" :key="key"
                    v-html="location.address"
                    type="button"
                    class="mt-1"
                    @click="setSelectedLocation(location)"
                    style="text-align:left;"
                >
                </default-button>
            </div>
        </template>

        <template #footer>
            <jet-secondary-button class="ml-4" @click="closeDialog">
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>

    <jet-modal-dialog :show="_isNthDosageShown">
        <template #title>
            Pilih Vaksinasi/Dosis Ke -
        </template>

        <template #content>
            <div class="grid grid-cols-1">
                <default-button
                    @click="setNthDosage(0)"
                    type="button"
                    class="mt-1"
                    style="text-align:left;"
                > 0 (Tidak Tahu)
                </default-button>

                <default-button
                    @click="setNthDosage(1)"
                    type="button"
                    class="mt-1"
                    style="text-align:left;"
                > Dosis/Vaksinasi Ke-1 (Pertama)
                </default-button>

                <default-button
                    @click="setNthDosage(2)"
                    type="button"
                    class="mt-1"
                    style="text-align:left;"
                > Dosis/Vaksinasi Ke-2 (Kedua)
                </default-button>
            </div>
        </template>

        <template #footer>
            <jet-secondary-button class="ml-4" @click="closeDialog">
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>

</template>

<script>
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetModalDialog from '@/Jetstream/DialogModal.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetSectionTitle from'@/Jetstream/SectionTitle.vue'
    import DefaultButton from '@/MyComponents/DefaultButton.vue'
    import InfoButton from '@/MyComponents/InfoButton.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default {
        components: {
            Head,
            Link,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetModalDialog,
            JetInput,
            JetLabel,
            JetValidationErrors,
            JetSecondaryButton,
            JetSectionTitle,
            DefaultButton,
            InfoButton,
        },
        props: {
            locationList: Array,
        },
        data() {
            return {
                _numOfErrors: 0,
                _isInputDisabled: false,
                _isRegistrationResultShown: false,
                _isRegistrationOk: false,
                _isRegistrationError: false,
                _registrationResultMessage: '',
                _isLocationDialogShown: false,
                _isNthDosageShown: false,
                _locationList: this.locationList,
                _selectedLocation: {
                    address: 'Pilih Lokasi Vaksinasi',
                },
                form: this.$inertia.form({
                    ktp_nik: '',
                    name: '',
                    phone: '',
                    location: '',
                    nth_dosage: 0,
                    sex: '',
                    birthDate: '',
                    address: '',
                    kelurahan: '',
                    kecamatan: '',
                    kabkota: '',
                    province: '',
                }),
                _isInputNameError: false,
                _isInputPhoneError: false,
                _isInputNikError: false,
                _isInputLocationError: false,
                _isInputBirthDateError: false,
                _isInputAddressError: false,
                _isInputKelurahanError: false,
                _isInputKecamatanError: false,
                _isInputKabkotaError: false,
                _isInputProvinsiError: false,
            }
        },
        methods: {
            showLocationDialog() {
                this._isLocationDialogShown = true;
            },
            showNthDosageDialog() {
                this._isNthDosageShown = true;
            },
            closeDialog() {
                this._isLocationDialogShown = false;
                this._isNthDosageShown = false;
            },
            setSelectedLocation(location) {
                this._selectedLocation = location;
                this.form.location = location.kode_lokasi;
                this.closeDialog();
            },
            setNthDosage(nthDosage) {
                this.form.nth_dosage = nthDosage;
                this.closeDialog();
            },
            submit() {
                if (!this._inputHasErrors()) {
                    this._disableInputs(true);
                    this.form.post(this.route('vaccine-do-register'), {
                        onFinish: () => this._onFinishSubmit(),
                    });
                }
            },
            closeRegistrationReport() {
                this._isRegistrationResultShown = false;
                this._isRegistrationOk = false;
                this._isRegistrationError = false;
                this._registrationResultMessage = '';
                this._clearInputs();
                this._disableInputs(false);
            },
            _onFinishSubmit() {
                var processResult = this.$page.props.flash.message;
                this._showRegistrationReport(processResult);
            },
            _inputHasErrors() {
                this._numOfErrors = 0;

                if (this.form.name.length < 4) {
                    this._isInputNameError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputNameError = false;
                }

                if ((this.form.phone.length < 10) || (this.form.phone.length > 14)) {
                    this._isInputPhoneError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputPhoneError = false;
                }

                // if (this.form.ktp_nik.length != 16) {
                if (this.form.ktp_nik.length == 0) {
                    this._isInputNikError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputNikError = false;
                }

                if (this._selectedLocation.uuid == null) {
                    this._isInputLocationError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputLocationError = false;
                }

                if ((this.form.birthDate.trim().length > 0) && (this.form.birthDate.trim().length < 10)) {
                    this._isInputBirthDateError = true
                    this._numOfErrors++;
                } else {
                    this._isInputBirthDateError = false;
                }

                if ((this.form.address.trim().length > 0) && (this.form.address.trim().length < 10)) {
                    this._isInputAddressError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputAddressError = false;
                }

                /*
                if ((this.form.kelurahan.trim().length > 0) && (this.form.kelurahan.trim().length < 4)) {
                    this._isInputKelurahanError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputKelurahanError = false;
                }

                if ((this.form.kecamatan.trim().length > 0) && (this.form.kecamatan.trim().length < 4)) {
                    this._isInputKecamatanError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputKecamatanError = false;
                }

                if ((this.form.kabkota.trim().length > 0) && (this.form.kabkota.trim().length < 4)) {
                    this._isInputKabkotaError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputKabkotaError = false;
                }

                if ((this.form.province.trim().length > 0) && (this.form.province.trim().length < 4)) {
                    this._isInputProvinsiError = true;
                    this._numOfErrors++;
                } else {
                    this._isInputProvinsiError = false;
                }
                */

                return (this._numOfErrors > 0) ? true : false;
            },
            _showRegistrationReport(processResult) {
                if (processResult.result === 200) {
                    this._isRegistrationError = false;
                    this._isRegistrationOk = true;
                } else {
                    this._isRegistrationOk = false;
                    this._isRegistrationError = true;
                    this._isInputNikError = true;
                    this._disableInputs(false);
                }

                this._registrationResultMessage = processResult.text;
                this._isRegistrationResultShown = true;
            },
            _clearInputs() {
                this.form.ktp_nik = '';
                this.form.name = '';
                this.form.phone = '';
                this._selectedLocation = {
                    address: 'Pilih Lokasi Vaksinasi',
                };
                this.form.nth_dosage = 0;
                this.form.sex = '';
                this.form.birthDate = '';
                this.form.address = '';
                this.form.kelurahan = '';
                this.form.kecamatan = '';
                this.form.kabkota = '';
                this.form.province = '';
            },
            _disableInputs(isDisabled) {
                this._isInputDisabled = isDisabled;
            },
        }
    }
</script>
