<template>
    <app-layout title="Screening">
        <!--
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>
        -->

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <!-- location info panel -->
                    <div v-if="_locationList.length > 1">
                        <default-button
                            :type="button"
                            @click="showLocationDialog"
                            class="mx-4 mt-4"
                            style="text-align:left; box-shadow:0 .125rem .25rem rgba(59, 130, 246, .5) !important;"
                        >
                            <span v-html="selectedLocation.address" ></span>
                            <svg class="ml-4 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </default-button>
                    </div>
                    <div
                        v-else-if="_locationList.length === 1"
                        class="mx-4 mt-4 px-3 py-2 bg-blue-100 text-blue-900 border-blue-500 rounded-lg"
                        style="text-align:left; box-shadow:0 .125rem .25rem rgba(59, 130, 246, .5) !important;"
                    >
                        <span v-html="selectedLocation.address.replace('<br><br>', '<br>')"></span>
                    </div>

                    <!-- search panel -->
                    <!--
                    <div class="mx-4 mt-4">
                        <jet-input
                            v-model="searchName"
                            :disabled="isInputDisabled"
                            id="search"
                            type="text"
                            class="inline-block"
                            placeholder="Min. 3 huruf atau kosongkan" />
                        <default-button
                            :disabled="isInputDisabled"
                            @click="submitSearch"
                            type="button"
                            class="ml-2 inline-block"
                        >
                            Cari Nama
                        </default-button>
                        <p class="px-4 py-2 text-white bg-green-700 rounded-lg inline-block">
                            Total data: {{ _totalData }}
                        </p>
                    </div>
                    -->

                    <!-- table list -->
                    <div class="mx-4 my-4">
                        <table class="table table-striped table-hover" id="screening-datatable">
                            <thead>
                                <tr>
                                    <th class="w-2/12 py-3 border-b border-t text-left">No. Identitas</th>
                                    <th class="w-3/12 py-3 border-b border-t text-left">No. Registrasi</th>
                                    <th class="w-3/12 py-3 border-b border-t text-left">Nama</th>
                                    <th class="w-2/12 py-3 border-b border-t text-left">Handphone</th>
                                    <th class="w-2/12 py-3 border-b border-t text-left">Screening</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </app-layout>

    <jet-modal-dialog :show="isLocationDialogShown">
        <template #title>
            Peserta Screenings
        </template>

        <template #content>
            <div class="grid grid-cols-1">
                <default-button
                    v-for="(location, key) in _locationList" :key="key"
                    v-html="location.address"
                    :disabled="isInputDisabled"
                    type="button"
                    class="mt-1"
                    @click="setSelectedLocation(location)"
                    style="text-align:left;"
                >
                </default-button>
            </div>
        </template>

        <template #footer>
            <jet-secondary-button
                :disabled="isInputDisabled"
                @click="closeDialog"
                class="ml-4"
            >
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>

    <jet-modal-dialog :show="isFinishDialogShown">
        <template #title>
        </template>

        <template #content>
            Proses registrasi sudah selesai. Silahkan melanjutkan pada proses 'Pemeriksaan Akhir'.
        </template>

        <template #footer>
            <jet-secondary-button
                :disabled="isInputDisabled"
                @click="closeDialog"
                class="ml-4"
            >
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetModalDialog from '@/Jetstream/DialogModal.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import DefaultButton from '@/MyComponents/DefaultButton.vue'
    import InfoButton from '@/MyComponents/InfoButton.vue'
    import TextArea from '@/MyComponents/TextArea.vue'

    import 'bootstrap/dist/css/bootstrap.min.css'
    import 'jquery/dist/jquery.min.js'
    import "datatables.net/js/jquery.dataTables.min"
    import "datatables.net-dt/js/dataTables.dataTables.min"
    import "datatables.net-dt/css/jquery.dataTables.min.css"
    import $ from 'jquery';

    export default {
        components: {
            AppLayout,
            JetModalDialog,
            JetSecondaryButton,
            JetInput,
            JetLabel,
            DefaultButton,
            InfoButton,
            TextArea,
        },
        props: {
            locations: Array,
            screeningList: Array,
            selLocation: Object,
            totalData: Number,
            totalSearchRow: Number,
        },
        data() {
            return {
                _locationList: this.locations,
                isLocationDialogShown: false,
                isCreateEditModalShown: false,
                isFinishDialogShown: false,
                isInputDisabled: false,
                searchName: '',
                selectedKey: 0,
                selectedLocation: this.selLocation,
                _totalData: this.totalData,
                _totalSearchRow: this.totalSearchRow,

                _screeningList: this.screeningList,
                isCanHaveVaccineDisabled: true,
                selectedScreening: {},
                form: this.$inertia.form({
                    screening: {},
                }),
            }
        },
        methods: {
            setSelectedLocation(location) {
                this.selectedLocation = location;
                this.getScreeningList();
            },
            showLocationDialog() {
                this.isLocationDialogShown = true;
            },
            showFinishDialog() {
                this.isFinishDialogShown = true;
            },
            closeDialog() {
                this.isLocationDialogShown = false;
                this.isCreateEditModalShown = false;
                this.isFinishDialogShown = false;
            },
            _setInputsDisabled(isDisabled) {
                this.isInputDisabled = isDisabled;
            },

            showScreeningDialog(key) {
                this.selectedKey = key;
                this.selectedScreening = this._screeningList[this.selectedKey];
                this.form.screening = this._screeningList[this.selectedKey];
                this.form.screening.age = '';
                this.form.screening.body_temperature = '';
                this.form.screening.blood_pressure_1 = '';
                this.form.screening.blood_pressure_2 = '';
                this.form.screening.confirmed_has_covid = 'no';
                this.form.screening.is_pregnancy_maternity = 'no';
                this.form.screening.has_ispa = 'no';
                this.form.screening.home_with_suspect = 'no';
                this.form.screening.has_heavy_alergic = 'no';
                this.form.screening.in_blood_theurapy = 'no';
                this.form.screening.has_heart_disease = 'no';
                this.form.screening.has_autoimun_sistemik = 'no';
                this.form.screening.has_kidney_disease = 'no';
                this.form.screening.has_reumatik_autoimun = 'no';
                this.form.screening.has_chronical_digestive = 'no';
                this.form.screening.has_hipertiroid_caused_by_autoimun = 'no';
                this.form.screening.is_blood_transfusion = 'no';
                this.form.screening.has_diabetes_melitus = 'no';
                this.form.screening.has_hiv = 'no';
                this.form.screening.has_ppok_tbc = 'no';
                this.form.screening.conclusion = 0;
                this.form.screening.notes = '';

                this.isCanHaveVaccineDisabled = true;
                this.isCreateEditModalShown = true;
            },
            checkBodyTemperature() {
                if (
                    isNaN(this.form.screening.body_temperature) || (this.form.screening.body_temperature < 34) || (this.form.screening.body_temperature >= 37)
                    || isNaN(this.form.screening.age) || (this.form.screening.age < 12) || (this.form.screening.age >= 100)
                ) {
                    this.isCanHaveVaccineDisabled = true;
                    this.form.screening.conclusion = 0;
                }
                else {
                    this.isCanHaveVaccineDisabled = false;
                }
            },
            submitScreening() {
                this.checkBodyTemperature();

                if (
                    (this.form.screening.conclusion == 1)
                    || (this.form.screening.conclusion == 2)
                    || (this.form.screening.conclusion == 3)
                ) {
                    this._setInputsDisabled(true);
                    this.form.screening.location = this.selectedLocation.uuid;
                    this.form.post(this.route('store-screening'), {
                        onFinish: () => this._onSubmitScreeningFinished(),
                    });
                }
                else {
                    if (this.isCanHaveVaccineDisabled) {
                        alert('Usia Peserta atau Suhu/Temperatur Badan kurang atau lebih dari batas persyaratan. Vaksinasi harus ditunda ataupun dibatalkan.');
                    }
                    else {
                        alert('Pilih salah satu kesimpulan terlebih dahulu');
                    }
                }
            },
            _onSubmitScreeningFinished() {
                var processResult = this.$page.props.flash.message;
                // this.form.screening = {};
                // this.form.selectedScreening = {};
                // this.showFinishDialog();

                if (processResult.result === 200) {
                    this.closeDialog();
                    this.getScreeningList(this.selectedLocation);
                }
                else {
                    this._setInputsDisabled(false);
                }
                alert(processResult.text);
            },
        },
        mounted() {
            $('#screening-datatable').DataTable({
                'ajax': {
                    'url': route('vaccine-get-screenings'),
                    'type': 'POST',
                    'data': {
                        'location': this.selectedLocation.uuid,
                    },
                },
                'processing': true,
                'serverSide': true,
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "columns": [
                    { "data": "ktp_nik" },
                    { "data": "registration_number" },
                    { "data": "full_name" },
                    { "data": "handphone" },
                    {
                        "data": "screening_decision",
                        'name': 'screening_decision',
                    },
                ],
            });
        },
    }
</script>
