<template>
    <app-layout title="Pemeriksaan Akhir">
        <!--
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>
        -->

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <!-- location info panel -->
                    <div v-if="_locationList.length > 1">
                        <default-button
                            :type="button"
                            @click="showLocationDialog"
                            class="mx-4 mt-4"
                            style="text-align:left"
                        >
                            <span
                                v-html="selectedLocation.address"
                            ></span>
                            <svg class="ml-4 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </default-button>
                    </div>
                    <div
                        v-else-if="_locationList.length === 1"
                        class="mx-4 mt-4 px-2 py-2 bg-blue-100 text-blue-900 border border-blue-500 rounded-lg"
                    >
                        <p v-html="selectedLocation.address.replace('<br><br>', '<br>')"></p>
                    </div>

                    <!-- search panel -->
                    <div class="mx-4 mt-4">
                        <jet-input
                            v-model="searchName"
                            :disabled="isInputDisabled"
                            id="search"
                            type="text"
                            class="inline-block"
                            placeholder="Min. 3 huruf atau kosong" />
                        <default-button
                            :disabled="isInputDisabled"
                            @click="submitSearch"
                            type="button"
                            class="ml-2 inline-block"
                        >
                            Cari Nama
                        </default-button>
                        <p class="ml-2 px-4 py-2 text-white bg-green-700 rounded-lg inline-block">
                            Data ditampilkan: {{ _totalSearchRow }} dari {{ _totalData }}
                        </p>
                    </div>

                    <table class="table table-fixed mx-4 mt-6" id="statistic-datatable">
                        <thead>
                            <tr>
                                <th class="w-2/12 py-3 border-b text-left">No. Identitas</th>
                                <th class="w-3/12 py-3 border-b text-left">No. Registrasi</th>
                                <th class="w-4/12 py-3 border-b text-left">Nama</th>
                                <th class="w-2/12 py-3 border-b text-left">Handphone</th>
                                <th class="w-1/12 py-3 border-b text-left">Last Check</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr v-for="(lastCheck, key) in _lastCheckList" :key="key">
                                <td class="py-3 border-b">
                                    <p class="text-sm">{{ lastCheck.ktp_nik }}</p>
                                </td>

                                <td class="py-3 border-b">
                                    <p class="text-sm">{{ lastCheck.registration_number }}</p>
                                </td>

                                <td class="py-3 border-b">
                                    <p class="text-sm">{{ lastCheck.full_name }}</p>
                                </td>

                                <td class="py-3 border-b">
                                    <p class="text-sm">{{ lastCheck.handphone }}</p>
                                </td>

                                <td class="py-3 border-b text-right">
                                    <info-button
                                        v-show="lastCheck.screening_decision == 1"
                                        class="ml-4"
                                        @click="showLastCheckDialog(key)"
                                    >
                                        Detil
                                    </info-button>
                                    <edit-button
                                        v-show="lastCheck.screening_decision == 2"
                                        class="ml-4"
                                        @click="showLastCheckDialog(key)"
                                    >
                                        Detil
                                    </edit-button>
                                    <jet-danger-button
                                        v-show="lastCheck.screening_decision == 3"
                                        class="ml-4"
                                        @click="showLastCheckDialog(key)"
                                    >
                                        Detil
                                    </jet-danger-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </app-layout>

    <jet-modal-dialog :show="isLocationDialogShown">
        <template #title>
            Pilih Lokasi Vaksinasi
        </template>

        <template #content>
            <div class="grid grid-cols-1">
                <default-button
                    v-for="(location, key) in _locationList" :key="key"
                    v-html="location.address"
                    :disabled="isInputDisabled"
                    type="button"
                    class="mt-1"
                    @click="setSelectedLocation(location)"
                    style="text-align:left;"
                >
                </default-button>
            </div>
        </template>

        <template #footer>
            <jet-secondary-button
                :disabled="isInputDisabled"
                @click="closeDialog"
                class="ml-4"
            >
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>

    <jet-modal-dialog :show="isCreateEditModalShown">
        <template #title>
            Pemeriksaan Akhir Peserta Vaksinasi Covid-19
        </template>

        <template #content>
            <form @submit.prevent="submit">
                <div class="w-full">
                    <div class="row">
                        <div>
                            <jet-label for="registration-number" value="Nomor Registrasi" />
                        </div>
                        <div>
                            <p class="mt-1 block w-full">
                                {{ selectedLastCheck.registration_number}}
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div>
                            <jet-label for="ktp-nik" value="Nomor KTP/NIK" />
                        </div>
                        <div>
                            <p class="mt-1 block w-full">
                                {{ selectedLastCheck.ktp_nik }}
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div>
                            <jet-label value="Nama" />
                        </div>
                        <div>
                            <p class="mt-1 block w-full">
                                {{ selectedLastCheck.full_name }}
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div>
                            <jet-label value="Jenis Kelamin" />
                        </div>
                        <div>
                            <p class="mt-1 block w-full">
                                {{ selectedLastCheck.sex }}
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div>
                            <jet-label value="Umur" />
                        </div>
                        <div>
                            <p class="mt-1 block w-full">
                                {{ selectedLastCheck.age }}
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div>
                            <jet-label value="Keputusan Screening" />
                        </div>
                        <div>
                            <div
                                :class="{
                                    'bg-green-100 border-green-900 text-green-900': selectedLastCheck.screening_decision == 1,
                                    'bg-yellow-100 border-yellow-900 text-yellow-900': selectedLastCheck.screening_decision == 2,
                                    'bg-red-100 border-red-900 text-red-900': selectedLastCheck.screening_decision == 3,
                                }"
                                class="text-sm mt-1 px-4 py-2 border rounded-lg"
                            >
                                <p>{{ selectedLastCheck.screening_decision_text }}.</p>
                                <p v-show="selectedLastCheck.screening_notes">
                                    {{ selectedLastCheck.screening_notes }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- start form -->
                    <div class="row mt-4" v-show="selectedLastCheck.screening_decision == 1">
                        <div>
                            <jet-label value="Tanggal Diberikan" />
                        </div>
                        <div>
                            <p class="mt-1 block w-full font-bold">
                                {{ selectedLastCheck.date_given }}
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4" v-show="selectedLastCheck.screening_decision == 1">
                        <div>
                            <jet-label for="dosage" value="Dosis Vaksin" />
                        </div>
                        <div>
                            <p class="mt-1 block w-full font-bold">
                                {{ selectedLastCheck.dosage }}
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4" v-show="selectedLastCheck.screening_decision == 1">
                        <div>
                            <jet-label value="Nomor Batch (Batch Number)" />
                        </div>
                        <div>
                            <p class="mt-1 block w-full font-bold">
                                {{ selectedLastCheck.batch_number }}
                            </p>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div>
                            <jet-label value="Catatan Pemeriksaan Akhir" />
                        </div>
                        <div>
                            <p
                                :class="{
                                    'bg-green-100 border-green-900 text-green-900': selectedLastCheck.screening_decision == 1,
                                    'bg-yellow-100 border-yellow-900 text-yellow-900': selectedLastCheck.screening_decision == 2,
                                    'bg-red-100 border-red-900 text-red-900': selectedLastCheck.screening_decision == 3,
                                }"
                                class="text-sm mt-1 px-4 py-2 border rounded-lg"
                            >
                                {{ selectedLastCheck.last_check_notes }}
                            </p>
                        </div>
                    </div>

                </div>
            </form>
        </template>

        <template #footer>
            <jet-secondary-button
                :disabled="isInputDisabled"
                @click="closeDialog"
                class="ml-4"
            >
                Tutup
            </jet-secondary-button>
        </template>
    </jet-modal-dialog>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetModalDialog from '@/Jetstream/DialogModal.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import DefaultButton from '@/MyComponents/DefaultButton.vue'
    import EditButton from '@/MyComponents/EditButton.vue'
    import InfoButton from '@/MyComponents/InfoButton.vue'
    import TextArea from '@/MyComponents/TextArea.vue'

    import 'jquery/dist/jquery.min.js';
    import "datatables.net-dt/js/dataTables.dataTables"
    import "datatables.net-dt/css/jquery.dataTables.min.css"
    import $ from 'jquery';

    export default {
        components: {
            AppLayout,
            JetModalDialog,
            JetDangerButton,
            JetSecondaryButton,
            JetInput,
            JetLabel,
            DefaultButton,
            EditButton,
            InfoButton,
            TextArea,
        },
        props: {
            locations: Array,
            lastCheckList: Array,
            selLocation: Object,
            totalData: Number,
            totalSearchRow: Number,
        },
        data() {
            return {
                _locationList: this.locations,
                isLocationDialogShown: false,
                isCreateEditModalShown: false,
                isFinishDialogShown: false,
                isInputDisabled: false,
                searchName: '',
                selectedKey: 0,
                selectedLocation: this.selLocation,
                _totalData: this.totalData,
                _totalSearchRow: this.totalSearchRow,

                _lastCheckList: this.lastCheckList,
                selectedLastCheck: {},
            }
        },
        methods: {
            setSelectedLocation(location) {
                this.selectedLocation = location;
                this.getLastCheckList();
            },
            showLocationDialog() {
                this.isLocationDialogShown = true;
            },
            closeDialog() {
                this.isLocationDialogShown = false;
                this.isCreateEditModalShown = false;
                this.isFinishDialogShown = false;
            },
            submitSearch() {
                if ((this.searchName.length == 0) || (this.searchName.length >= 3)) {
                    if ((this.selectedLocation.uuid !== undefined) && (this.selectedLocation.uuid !== null)) {
                        this.getLastCheckList();
                    }
                    else {
                        alert('Lokasi peserta harus dipilih');
                    }
                }
                else {
                    alert('Minimal 3 huruf atau kosongkan');
                }
            },
            _setInputsDisabled(isDisabled) {
                this.isInputDisabled = isDisabled;
            },

            getLastCheckList() {
                this._lastCheckList = [];
                this._setInputsDisabled(true);

                this.$inertia.post(route('vaccine-get-statistic'), { 'location':this.selectedLocation, 'name':this.searchName }, {
                    onSuccess: (response) => this._populateLastCheckList(response),
                });
            },
            showLastCheckDialog(key) {
                this.selectedKey = key;
                this.selectedLastCheck = this._lastCheckList[this.selectedKey];
                this.isCreateEditModalShown = true;
            },
            _populateLastCheckList(response) {
                this._lastCheckList = response.props.vaccine.lastchecks.list;
                this._totalData = response.props.vaccine.lastchecks.totalData;
                this._totalSearchRow = response.props.vaccine.lastchecks.totalSearchRow;

                this.closeDialog();
                this._setInputsDisabled(false);
            },

        },
        mounted() {
            $('#statistic-datatable').DataTable();
        },
    }
</script>
