<template>
    <div class="md:col-span-1 flex justify-between">
        <div class="px-4 sm:px-0">
            <h3
                class="text-lg font-medium"
                :class="{ 'text-white' : _isTitleWhite, 'text-gray-900': !_isTitleWhite }"
            >
                <slot name="title"></slot>
            </h3>

            <p
                class="mt-1 text-sm"
                :class="{ 'text-white' : _isTitleWhite, 'text-gray-600': !_isTitleWhite }"
            >
                <slot name="description"></slot>
            </p>
        </div>

        <div class="px-4 sm:px-0">
            <slot name="aside"></slot>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        isTitleWhite: Boolean,
    },
    data() {
        return {
            _isTitleWhite: this.isTitleWhite,
        }
    }
}
</script>